/*!
 * Newspack Theme Editor Overrides
 *
 * This CSS files contains Gutenberg editor styles that need to reference classes on the body tag.
 */

/** === Includes === */

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/** === Static Front Page === */

body.newspack-static-front-page {
	.wp-block {
		max-width: 1230px; // 1200px + 30px to offset padding
	}

	.wp-block[data-align="wide"] {
		max-width: 1430px; // 1400px + 30px to offset padding
	}

	.wp-block[data-type="core/group"][data-align="wide"],
	.wp-block[data-type="core/group"][data-align="full"] {
		.wp-block:not([data-align="wide"]):not([data-align="full"]) {
			max-width: 1230px; // 1200px + 30px to offset padding
		}

		.wp-block[data-align="wide"] {
			max-width: 1430px; // 1400px + 30px to offset padding
		}
	}

	figcaption {
		max-width: 1230px;
	}
}

/** === Single Posts === */

body.post-type-post {
	.editor-post-title__block {
		max-width: 1200px;
		.editor-post-title__input {
			font-size: $font__size-xl;

			@include media( mobile ) {
				font-size: $font__size-xxl;
			}

			@include media( tablet ) {
				font-size: $font__size-xxxl;
			}

			@include media(desktop) {
				font-size: $font__size-xxxxl;
			}
		}
	}

	&.style-pack-style-4 {
		.editor-post-title__block {
			max-width: 1020px; // 85% of 1200px.
			.editor-post-title__input {
				text-align: center;
			}
		}
	}
}


