/*!
Newspack Theme Static Fron Page Editor Styles
*/

/** === Includes === */

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/** === Content Width === */

body.newspack-static-front-page {
	.wp-block {
		max-width: 1230px; // 1200px + 30px to offset padding
	}

	[data-type="core/group"][data-align="wide"],
	[data-type="core/group"][data-align="full"] {
		.wp-block:not([data-align="wide"]):not([data-align="full"]) {
			max-width: 1230px; // 1200px + 30px to offset padding
		}

		.wp-block[data-align="wide"] {
			max-width: 1430px; // 1400px + 30px to offset padding
		}
	}
}
