
/** === Layout === */

#page {
	overflow: hidden;
	width: 100%;
}

.site-content {
	margin: auto;
	max-width: 90%;
	width: $size__site-main;
}

body:not(.newspack-front-page) #main {
	@include postContentMaxWidth();
}
