
/** === Layout === */

#page {
	overflow: hidden;
	width: 100%;
}

.site-content {
	overflow: hidden;
}

#main {
	margin: auto;
	max-width: 90%;
	width: $size__site-main;
}

.single #main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

body:not(.newspack-front-page):not(.has-sidebar) .main-content {
	@include postContentMaxWidth();
}
