
/** === Layout === */

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	max-width: 90%;
	width: $size__site-main;

	@include media(tablet) {
		flex-wrap: nowrap;
	}
}

#page {
	overflow: hidden;
	width: 100%;
}

.site-content {
	overflow: hidden;
}

#primary {
	margin: auto;
	max-width: 90%;
	width: $size__site-main;
}

.single {
	&.has-sidebar #main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.archive,
.blog,
.page:not(.newspack-front-page) {
	&.has-sidebar #primary {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include media(tablet) {
		#main {
			flex-basis: calc( 65% - #{$size__spacing-unit} );
		}

		#secondary {
			flex-basis: calc( 35% - #{$size__spacing-unit} );
		}
	}
}

.single-post {
	@include media(tablet) {
		.main-content {
			flex-basis: 65%;
		}

		#secondary {
			flex-basis: 30%;
		}
	}
}

.single .main-content {
	@include postContentMaxWidth();
}

.hide {
	display: none;
}
