/** === Includes === */

@import 'mixins/mixins-master';

/** === Editor Frame === */

body {
	background-color: $color__background-body;
}

/** === Content Width === */

.wp-block {
	max-width: 810px; // 780px + 30px to offset padding
}

/** === Base Typography === */

// stylelint-disable-next-line no-duplicate-selectors
body {
	font-size: $font__size_base;
	font-family: $font__body;
	line-height: $font__line-height-body;
	color: $color__text-main;
}

p {
	font-size: $font__size_base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
	font-weight: 700;
	line-height: $font__line-height-heading;
	a {
		color: $color__text-main;
		text-decoration: none;

		&:visited {
			color: $color__text-main;
		}
	}
}

h1 {
	font-size: $font__size-xl;

	@include media( tablet ) {
		font-size: $font__size-xxl;
	}
}

h2 {
	font-size: $font__size-lg;

	@include media( tablet ) {
		font-size: $font__size-xl;
	}
}

h3 {
	font-size: $font__size-lg;
}

h4 {
	font-size: $font__size-md;
}

h5 {
	font-size: $font__size-sm;
}

h6 {
	font-size: $font__size-xs;
}

a {
	@include link-transition;
	color: $color__link;

	&:hover,
	&:active {
		color: $color__link-hover;
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
		text-decoration: underline;
	}
}

.more-link {
	color: inherit;
	font-size: 0.8em;
	@include link-transition;
	margin: 0.5em 0;
}

table td,
table th {
	font-family: $font__body;
	font-size: $font__size-sm;
}

figcaption,
.gallery-caption,
.wp-caption-text {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xxs;
	line-height: $font__line-height-pre;
	margin: 0 auto #{0.5 * $size__spacing-unit};
	max-width: 780px;
}

/** === Post Title === */

.editor-post-title__block {
	font-size: $font__size_base; // Set on the title so the font size variables math as expected.

	.editor-post-title__input {
		font-family: $font__heading;
		font-size: $font__size-xxl;
		font-weight: 700;
		line-height: 1.2;

		@include media( desktop ) {
			font-size: $font__size-xxxl;
		}
	}
}

/** === Post Meta === */

.entry-meta {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size_base;

	a {
		color: $color__primary;
		font-weight: bold;
		text-decoration: none;
	}
}

.cat-links {
	font-family: $font__heading;
}

/** === Default Appender === */

.editor-default-block-appender .editor-default-block-appender__content {
	font-family: $font__body;
	font-size: $font__size_base;
}

/** === Heading === */

.wp-block-heading {
	strong {
		font-weight: bolder;
	}
}

/** === Paragraph === */
.has-drop-cap:not( :focus )::first-letter {
	font-size: 4em;
	line-height: 0.75;
	margin: 0.125em #{0.75 * $size__spacing-unit} 0 0;
	position: relative;
}

/** === Homepage Posts === */

.wpnbha {
	.more-link + .entry-meta {
		margin-top: #{0.75 * $size__spacing-unit};
	}

	article.format-aside {
		.entry-meta > a,
		.entry-meta .byline,
		.entry-meta .author-avatar {
			display: none;
		}
	}

	&.ts-4,
	&.ts-5,
	&.ts-6,
	&.ts-7,
	&.ts-8,
	&.ts-9,
	&.ts-10 {
		article.format-aside {
			.entry-title {
				font-size: 1em;
			}
			.entry-wrapper {
				font-size: 90%;
			}

			p {
				font-size: inherit;
			}
		}
	}

	&.ts-3 article.format-aside .entry-title {
		font-size: 0.8em;
	}

	&.ts-2 article.format-aside .entry-title {
		font-size: 0.7em;
	}
}

/** === Newspack Carousel === */
.wp-block-newspack-blocks-carousel h3 a,
.wp-block-newspack-blocks-carousel h3 a:visited {
	color: #fff;
}

/** === Table === */

.wp-block-table {
	font-family: $font__heading;
	td,
	th {
		border-color: $color__text-light;
	}
}

/** === Cover === */

.wp-block-cover {
	.accent-header,
	.article-section-title {
		color: inherit;
	}
	.wp-block-cover__inner-container {
		width: 100%;
	}

	a,
	a:visited,
	.entry-meta,
	.entry-meta a,
	.entry-meta a:visited,
	.entry-meta .byline a,
	.entry-meta .byline a:visited,
	cite {
		color: inherit;
	}

	h2 {
		max-width: 100%;
		padding-left: 0;
	}

	@include media( tablet ) {
		padding-left: $size__spacing-unit;
		padding-right: $size__spacing-unit;
	}
}

.wp-block[data-type='core/cover'][data-align='left'],
.wp-block[data-type='core/cover'][data-align='right'] {
	.wp-block-cover {
		min-height: 250px;
		padding: calc( 1.375 * #{$size__spacing-unit} );

		@include media( tablet ) {
			max-width: 400px;
		}

		p {
			padding-left: 0;
			padding-right: 0;
		}

		@include media( tablet ) {
			padding: calc( 2 * #{$size__spacing-unit} );
		}

		.wp-block-cover__inner-container {
			width: 450px;
			max-width: 100%;
		}

		.block-editor-block-list__block-edit {
			float: none;
			margin-left: 0;
			margin-right: 0;
		}

		[class*='wp-block-'] {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-columns {
	.wp-block-cover,
	.wp-block-cover-image {
		min-height: 330px;
		padding-left: 0;
		padding-right: 0;
	}

	.wp-block-cover__inner-container {
		width: 100%;
	}
}

/** === Columns === */

.wp-block-columns.is-style-borders {
	[data-type='core/column'] {
		@include media( tablet ) {
			flex-basis: calc( 50% - 32px );

			&:not( :first-child ) {
				margin-left: 64px;
			}

			&::after {
				right: -32px;
			}
		}
	}
}

/** === Image === */

.wp-block-image {
	figcaption {
		margin-top: 0;
		text-align: left;
	}
}

.wp-block[data-type='core/image'][data-align='left'].wp-block .block-editor-block-list__block-edit,
.wp-block[data-type='core/image'][data-align='right'].wp-block
	.block-editor-block-list__block-edit {
	max-width: 50%;

	.wp-block-image {
		table-layout: fixed;
		max-width: 100%;
	}

	.wp-block-image > div > div {
		max-width: 100%;
		width: 100% !important; // !important to override inline styles.
	}
}

/** === Gallery === */

.wp-block-gallery {
	figcaption {
		margin-bottom: 0;

		a,
		a:hover {
			color: #fff;
		}
	}
}

/** === Audio & Video === */

.wp-block-audio figcaption,
.wp-block-video figcaption {
	text-align: left;
}

.wp-block-video video {
	width: 100%;
}

/** === Group === */
.wp-block[data-align='left'] .wp-block-group,
.wp-block[data-align='right'] .wp-block-group {
	max-width: 50%;
}

/** === Button === */

.wp-block-button__link {
	border-radius: 5px;
	line-height: 1.8;
	font-family: $font__heading;
	font-size: $font__size-sm;
	font-weight: bold;

	&:not( .has-background ) {
		background: $color__background-button;
	}

	&:not( .has-text-color ) {
		color: #fff;
	}
}

.is-style-outline .wp-block-button__link, // legacy selector
.wp-block-button__link.is-style-outline {
	&:not( .has-background ) {
		background: transparent;
	}

	&:not( .has-text-color ) {
		color: $color__background-button;
	}
}

/** === Blockquote === */

.wp-block-quote {
	&:not( .is-large ):not( .is-style-large ) {
		border-width: 2px;
		border-color: $color__link;
	}

	&.is-large,
	&.is-style-large {
		margin-top: $font__size-xxl;
		margin-bottom: $font__size-xxl;
	}

	&.is-large p,
	&.is-style-large p {
		font-size: $font__size-lg;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	cite,
	footer,
	.wp-block-quote__citation {
		font-family: $font__heading;
		font-size: $font__size-xs;
		line-height: 1.6;
		color: $color__text-light;
	}
}

/** === Pullquote === */

.wp-block-pullquote {
	border-color: transparent;
	border-width: 4px 0 2px;
	color: #000;
	padding: $size__spacing-unit 0;
	text-align: left;

	&.is-style-solid-color blockquote p,
	p {
		font-size: $font__size-md;

		@include media( tablet ) {
			font-size: $font__size-lg;
		}
	}

	blockquote {
		margin: #{1.5 * $size__spacing-unit} 0;
	}

	p {
		font-style: italic;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.wp-block-pullquote__citation {
		font-family: $font__heading;
		font-size: $font__size-xs;
		line-height: 1.6;
		text-transform: none;

		&::before {
			content: '\2014';
			margin-right: #{0.25 * $size__spacing-unit};
		}
	}

	div.wp-block-pullquote__citation {
		opacity: 0.8;
	}

	em {
		font-style: normal;
	}

	&.is-style-solid-color {
		padding: $size__spacing-unit #{3 * $size__spacing-unit} #{1.25 * $size__spacing-unit};

		blockquote {
			max-width: 100%;
			width: 100%;

			a,
			&.has-text-color p,
			&.has-text-color a {
				color: inherit;
			}
		}

		&:not( .has-background-color ) {
			background-color: $color__link;
		}
	}
}

[data-align='left'] .wp-block-pullquote,
[data-align='right'] .wp-block-pullquote {
	max-width: 50%;
	width: 50%;

	@include media( tablet ) {
		border-bottom: 0;
	}

	&:not( .is-style-solid-color ) {
		padding: 0;
	}

	&.is-style-solid-color {
		padding: $size__spacing-unit #{2 * $size__spacing-unit};
	}

	&.is-style-solid-color blockquote p,
	p {
		font-size: 1rem;

		@include media( tablet ) {
			font-size: $font__size-md;
		}
	}
}

.wp-block[data-type='core/pullquote'][data-align='full'] {
	.wp-block-pullquote {
		padding-left: $size__spacing-unit;
		padding-right: $size__spacing-unit;
	}
}

/** === File === */

.wp-block-file {
	font-family: $font__heading;
	font-size: $font__size-sm;

	.wp-block-file__textlink {
		text-decoration: underline;
		color: $color__link;

		&:hover {
			color: $color__link-hover;
			text-decoration: none;
		}
	}

	.wp-block-file__button {
		display: table;
		line-height: 1.8;
		font-size: inherit;
		font-weight: bold;
		background-color: $color__link;
		border-radius: 5px;
	}

	.wp-block-file__button-richtext-wrapper {
		display: block;
		margin-top: calc( 0.75 * #{$size__spacing-unit} );
		margin-left: 0;
	}
}

/** === Verse === */

.wp-block-verse,
.wp-block-verse pre {
	font-style: italic;
	padding: 0;
}

/** === Code === */

.wp-block-code {
	border-radius: 0;
}

/** === Separator === */

.wp-block-separator {
	opacity: 1;
	&:not( .is-style-dots ) {
		border: 0;
		border-top: 1px solid $color__border;
		background-color: transparent;
	}

	&:not( .is-style-wide ):not( .is-style-dots ) {
		max-width: #{5 * $size__spacing-unit};
		margin-left: auto;
		margin-right: auto;
	}

	&.is-style-dots::before {
		color: $color__text-light;
		font-size: $font__size-lg;
		letter-spacing: calc( 2 * #{$size__spacing-unit} );
		padding-left: calc( 2 * #{$size__spacing-unit} );
	}
}

/** === Latest Posts, Archives, Categories === */

ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
	padding: 0;
	list-style-type: none;

	ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		padding-bottom: ( 0.75 * $size__spacing-unit );

		&.menu-item-has-children,
		&:last-child {
			padding-bottom: 0;
		}

		a {
			text-decoration: none;
		}

		ul {
			padding-left: $size__spacing-unit;
		}
	}
}

ul.wp-block-archives,
.wp-block-categories {
	li {
		font-family: $font__heading;
		font-size: calc( #{$font__size_base} * #{$font__size-ratio} );
		font-weight: bold;
		line-height: $font__line-height-heading;
	}
}

.wp-block-categories {
	ul {
		padding-top: ( 0.75 * $size__spacing-unit );
		@include nestedSubMenuPadding();
	}

	li ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: ( -0.75 * $size__spacing-unit );
	}
}

/** === Latest Posts === */
.wp-block-latest-posts {
	li > a {
		font-family: $font__heading;
		font-size: calc( #{$font__size_base} * #{$font__size-ratio} );
		font-weight: bold;
		line-height: $font__line-height-heading;
	}

	time {
		color: $color__text-light;
		font-family: $font__heading;
	}
	.wp-block-latest-posts__post-excerpt {
		font-size: 0.8em;
	}

	&.is-grid {
		li {
			border-top: 2px solid $color__border;
			padding-top: ( 1 * $size__spacing-unit );
			margin-bottom: ( 2 * $size__spacing-unit );
			a {
				&::after {
					content: '';
				}
			}
			&:last-child {
				margin-bottom: auto;
				a::after {
					content: '';
				}
			}
		}
	}
}

/** === Latest Comments === */

.wp-block-latest-comments {
	margin-left: 0;
	padding-left: 0;

	.wp-block-latest-comments__comment {
		font-size: $font__size-sm;
		line-height: $font__line-height-body;
		margin-bottom: $size__spacing-unit;
	}

	.wp-block-latest-comments__comment-meta {
		font-family: $font__heading;
		font-weight: bold;

		a,
		a:visited {
			color: $color__text-main;
			text-decoration: none;
		}

		.wp-block-latest-comments__comment-date {
			color: $color__text-light;
			font-size: 0.9em;
			font-weight: normal;
			margin: #{0.5 * $size__spacing-unit} 0;
		}
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: 1.05em;
		margin: 0;
	}
}

/** === Jetpack Blocks === */

// Related Posts
.jp-relatedposts-i2 {
	a {
		color: $color__text-main;
	}
	a,
	strong {
		font-family: $font__heading;
		font-size: $font__size-base;
		font-weight: bold;
		text-decoration: none;
	}

	.jp-related-posts-i2__post-date,
	.jp-related-posts-i2__post-context {
		font-family: $font__heading;
		font-size: $font__size-xs;
	}
}

// Mailchimp
.wp-block-jetpack-mailchimp {
	.block-editor-rich-text__editable {
		font-size: $font__size-sm;
	}
}

/** === Organic Profile Block === */
.wp-block-organic-profile-block {
	box-shadow: none;

	.organic-profile-image {
		align-items: center;
		background: none !important;
		margin-bottom: 16px;

		@media only screen and ( min-width: 768px ) {
			margin-bottom: 0;
			margin-right: 32px;
		}

		&.image-active {
			max-width: 100%;
		}

		button.image-button {
			border-radius: 0;
			height: auto;

			img {
				display: block;
				margin: 0;
				opacity: 1;
			}
		}
	}

	.organic-profile-content {
		padding: 0;
		width: 100%;

		h5 {
			color: $color__text-light;
		}
	}

	.organic-profile-social {
		.social-link {
			border: 0;
			color: $color__text-light;
			cursor: default;
			display: inline-block;
			font-size: 16px;
			height: 32px;
			line-height: 32px;
			padding: 0;
			pointer-events: none;
			text-align: center;
			width: 32px;

			&:active,
			&:focus,
			&:hover {
				color: inherit;
			}
		}
	}
}

/** === Donate Block === */
.wpbnbd .freq-label,
.wpbnbd .tier-label,
.wpbnbd button {
	font-family: $font__heading;
}

/** === Classic Editor === */

/* Properly center-align captions in the classic-editor block */
.wp-caption {
	dd {
		color: $color__text-light;
		font-family: $font__heading;
		font-size: $font__size-xs;
		line-height: $font__line-height-pre;
		margin: 0;
		padding: ( $size__spacing-unit * 0.5 );
		text-align: center;
		-webkit-margin-start: 0;
		margin-inline-start: 0;
	}
}

.wp-block-freeform {
	/* Add style for galleries in classic-editor block */
	blockquote {
		border-left: 2px solid $color__link;

		cite {
			font-family: $font__heading;
			font-size: $font__size-xs;
			font-style: normal;
			line-height: 1.6;
			color: $color__text-light;
		}
	}
}

/** === Post Subtitle === */

#newspack-post-subtitle-element {
	font-style: italic;
}

/** === Custom Colors === */

.has-primary-background-color,
.is-style-outline .wp-block-button__link.has-primary-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-primary-background-color {
	background-color: $color__primary;
}

.has-primary-variation-background-color,
.is-style-outline .wp-block-button__link.has-primary-variation-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-primary-variation-background-color {
	background-color: $color__primary-variation;
}

.has-secondary-background-color,
.is-style-outline .wp-block-button__link.has-secondary-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-secondary-background-color {
	background-color: $color__secondary;
}

.has-secondary-variation-background-color,
.is-style-outline .wp-block-button__link.has-secondary-variation-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-secondary-variation-background-color {
	background-color: $color__secondary-variation;
}

.has-dark-gray-background-color,
.is-style-outline .wp-block-button__link.has-dark-gray-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-dark-gray-background-color {
	background-color: #111;
}

.has-medium-gray-background-color,
.is-style-outline .wp-block-button__link.has-medium-gray-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-medium-gray-background-color {
	background-color: #767676;
}

.has-light-gray-background-color,
.is-style-outline .wp-block-button__link.has-light-gray-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-light-gray-background-color {
	background-color: #eee;
}

.has-white-background-color,
.is-style-outline .wp-block-button__link.has-white-background-color, // legacy selector
.wp-block-button__link.is-style-outline.has-white-background-color {
	background-color: #fff;
}

.has-primary-color,
.is-style-outline .wp-block-button__link.has-primary-color, //legacy selector
.wp-block-button__link.is-style-outline.has-primary-color {
	color: $color__primary;
}

.has-primary-variation-color,
.is-style-outline .wp-block-button__link.has-primary-variation-color, //legacy selector
.wp-block-button__link.is-style-outline.has-primary-variation-color {
	color: $color__primary-variation;
}

.has-secondary-color,
.is-style-outline .wp-block-button__link.has-secondary-color, //legacy selector
.wp-block-button__link.is-style-outline.has-secondary-color {
	color: $color__secondary;
}

.has-secondary-variation-color,
.is-style-outline .wp-block-button__link.has-secondary-variation-color, //legacy selector
.wp-block-button__link.is-style-outline.has-secondary-variation-color {
	color: $color__secondary-variation;
}

.has-dark-gray-color,
.is-style-outline .wp-block-button__link.has-dark-gray-color, //legacy selector
.wp-block-button__link.is-style-outline.has-dark-gray-color {
	color: #111;
}

.has-medium-gray-color,
.is-style-outline .wp-block-button__link.has-medium-gray-color, //legacy selector
.wp-block-button__link.is-style-outline.has-medium-gray-color {
	color: #767676;
}

.has-light-gray-color,
.is-style-outline .wp-block-button__link.has-light-gray-color, //legacy selector
.wp-block-button__link.is-style-outline.has-light-gray-color {
	color: #eee;
}

.has-white-color,
.is-style-outline .wp-block-button__link.has-white-color, //legacy selector
.wp-block-button__link.is-style-outline.has-white-color {
	color: #fff;
}

// Gradients
.has-grad-1-gradient-background {
	background-image: linear-gradient( 135deg, $color__primary 0%, $color__primary-variation 100% );
}
.has-grad-2-gradient-background {
	background-image: linear-gradient(
		135deg,
		$color__secondary 0%,
		$color__secondary-variation 100%
	);
}
.has-grad-3-gradient-background {
	background-image: linear-gradient( 135deg, rgb( 17, 17, 17 ) 0%, rgb( 85, 85, 85 ) 100% );
}
.has-grad-4-gradient-background {
	background-image: linear-gradient( 135deg, rgb( 68, 68, 68 ) 0%, rgb( 136, 136, 136 ) 100% );
}
.has-grad-5-gradient-background {
	background-image: linear-gradient( 135deg, rgb( 119, 119, 119 ) 0%, rgb( 221, 221, 221 ) 100% );
}
.has-grad-6-gradient-background {
	background-image: linear-gradient( 135deg, rgb( 221, 221, 221 ) 0%, rgb( 255, 255, 255 ) 100% );
}
