.accent-header,
.article-section-title {
	border-bottom: 4px solid $color__border;
	color: $color__primary;
	font-size: $font__size-sm;
	margin: 0 0 #{$size__spacing-unit * 0.75};
	padding: 0 0 #{$size__spacing-unit * 0.33};
}
