@use "../variables-site/structure";

ul,
ol {
	padding-left: structure.$size__spacing-unit;
}

ul {
	list-style: disc;

	ul {
		list-style-type: circle;
	}

	&.is-style-checked {
		list-style-type: none;
		padding-left: calc(24px + 0.25em);

		li {
			position: relative;

			&::before {
				background: currentcolor;
				clip-path: polygon(69.5833% 29.5834%, 43.3333% 65%, 29.5833% 54.5834%, 25.8333% 59.5834%, 44.5833% 73.75%, 74.5833% 33.3334%, 69.5833% 29.5834%);
				content: "";
				display: block;
				height: 24px;
				left: calc(-24px - 0.25em);
				position: absolute;
				top: calc(( 1em * var(--newspack-theme-font-line-height-body) - 24px ) / 2);
				width: 24px;
			}
		}
	}
}

ol {
	list-style: decimal;
}

li {
	line-height: var(--newspack-theme-font-line-height-body);
}

li > ul,
li > ol {
	padding-left: ( 2 * structure.$size__spacing-unit );
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 structure.$size__spacing-unit structure.$size__spacing-unit;
}
