.wp-caption {
	margin-bottom: calc( 1.5 * #{$size__spacing-unit} );
}

.wp-caption img[class*='wp-image-'] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption,
.wp-caption-text {
	color: $color__text-light;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

figcaption,
.wp-caption-text,
.amp-image-lightbox-caption {
	font-size: $font__size-xs;
	font-family: $font__heading;
	line-height: $font__line-height-pre;
}

.entry-content {
	.wp-caption-text,
	figcaption {
		max-width: 780px;
	}
}

.newspack-front-page,
.post-template-single-wide,
.page-template-single-wide {
	.entry-content {
		.wp-caption-text,
		figcaption {
			max-width: 1200px;
		}
	}
}
