.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.custom-logo-link {
	display: inline-block;
}

.author-avatar .avatar {
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate( -50%, -50% );
	width: auto;
	object-fit: cover;
}

.author-avatar {
	border-radius: 100%;
	height: calc( 2.25 * #{$size__spacing-unit} );
	position: relative;
	width: calc( 2.25 * #{$size__spacing-unit} );
	overflow: hidden;
}

svg {
	transition: fill $icon_transition ease-in-out;
	fill: currentColor;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import 'captions';

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import 'galleries';
