// Responsive widths.

$size__spacing-unit: 1rem;
$size__site-main: 1200px;
$size__site-sidebar: 25%;
$size__site-margins: calc( 10% + 60px );
$size__site-tablet-content: 65%;
$size__site-desktop-content: 65%;

// Responsive widths.

$mobile_width: 600px;
$tablet_width: 782px;
$narrow_desktop_width: 960px;
$desktop_width: 1168px;
$wide_width: 1379px;
