@use '../variables-site/colors';
@use '../variables-site/fonts';
@use '../variables-site/structure';
@use '../mixins/utilities';

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.wp-block-search__button {
	@include utilities.button-transition;

	background: colors.$color__background-button;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	display: inline-block;
	color: colors.$color__background-body;
	font-family: fonts.$font__heading;
	font-size: fonts.$font__size-sm;
	font-weight: 700;
	line-height: fonts.$font__line-height-heading;
	outline: none;
	padding: ( structure.$size__spacing-unit * 0.76 ) structure.$size__spacing-unit;
	text-decoration: none;
	vertical-align: bottom;

	&:hover,
	&:hover:visited {
		background: colors.$color__background-button-hover;
		color: colors.$color__background-body;
		cursor: pointer;
	}

	&:visited {
		color: inherit;
		text-decoration: none;
	}

	&:focus {
		background: colors.$color__background-button-hover;
		color: colors.$color__background-body;
		outline: thin dotted;
		outline-offset: -4px;
	}
}
