.search-form {
	position: relative;

	input {
		padding-right: #{2.5 * $size__spacing-unit};
		width: 100%;
	}

	button {
		background-color: transparent;
		bottom: 2px;
		color: $color__text-main;
		position: absolute;
		margin: 0;
		padding: 0 #{0.5 * $size__spacing-unit};
		right: 2px;
		top: 2px;

		svg {
			position: relative;
			top: 2px;
		}

		&:active,
		&:hover,
		&:focus {
			color: $color__primary;
		}
	}
}
