/*!
Newspack Theme Editor Styles - Style Pack 3
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-editor-base";


.accent-header,
.article-section-title {
	color: $color__primary;
	font-size: $font__size-xs;
	margin: 0 0 #{ 2 * $size__spacing-unit };
	text-transform: uppercase;

	&:before {
		background-color: $color__primary;
		content: "";
		display: block;
		height: 5px;
		margin: 0 0 $size__spacing-unit;
		width: 32px;
	}
}

.wp-block-paragraph {
	&.has-drop-cap:not(:focus)::first-letter {
		font-family: $font__heading;
		font-weight: bold;
	}
}

.wp-block[data-type="core/pullquote"] {

	.wp-block-pullquote {
		border-width: 0;
		position: relative;

		&:not(.is-style-solid-color) {

			blockquote {
				padding-left: #{ 2 * $size__spacing-unit };
			}

			&:before {
				border-top: 8px solid;
				border-left: 8px solid;
				border-color: inherit;
				content: "";
				display: block;
				height: 40px;
				left: 0;
				position: absolute;
				top: 0;
				width: 40px;
			}
		}
	}

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p {
		font-size: $font__size-lg;
		font-style: normal;
		font-weight: bold;

		@include media( tablet ) {
			font-size: $font__size-xl;
		}
	}

	.wp-block-pullquote__citation {
		font-weight: bold;
		opacity: 0.6;
		text-transform: uppercase;
	}

	&[data-align="left"],
	&[data-align="right"] {
		@include media( tablet ) {
			.wp-block-pullquote blockquote p {
				font-size: $font__size-lg;
			}
		}
	}

	&[data-align="left"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color),
	&[data-align="right"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color) {

		padding-top: $size__spacing-unit;

		blockquote {
			padding-left: 0;
		}

		&:before {
			border-left: 0;
		}
	}
}

.wp-block-image figcaption.block-editor-rich-text__editable {
	border: none;
	padding-left: 0;
	padding-right: 0;
	text-align: left;

	&:after {
		background-color: $color__primary;
		content: "";
		display: block;
		height: 5px;
		margin-top: #{ 1.25 * $size__spacing-unit };
		width: 32px;
	}
}
