/*!
Newspack Sacha Editor Styles
*/

/** === Includes === */

@import 'variables-style/variables-style';
@import '../../newspack-theme/sass/style-editor-base';

.editor-post-title__block .editor-post-title__input,
.entry-title {
	font-weight: normal;
}

.accent-header,
.article-section-title {
	color: $color__primary;
	font-size: $font__size-xs;
	text-align: center;
}

.article-section-title {
	margin-bottom: #{1.5 * $size__spacing-unit};
	position: relative;
	overflow: hidden;

	&::before,
	&::after {
		border-top: 1px solid $color__border;
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		width: 25%;
	}

	&::before {
		right: 0;
	}

	&::after {
		left: 0;
	}
}

.has-drop-cap:not( :focus )::first-letter {
	background-color: $color__primary;
	color: #fff;
	font-family: $font__heading;
	font-weight: bold;
	font-size: $font__size-xxl;
	padding: 0.4em;
}

figcaption,
.wp-caption-text {
	font-weight: bold;
}

blockquote,
cite {
	font-family: $font__heading;
	font-style: italic;
	text-align: center;

	em,
	i {
		font-style: normal;
	}
}

.wp-block[data-type='core/pullquote'] {
	.wp-block-pullquote {
		border-width: 2px 0;
	}

	blockquote {
		margin: #{2 * $size__spacing-unit} 0;
	}

	blockquote
		> .block-library-pullquote__content
		.editor-rich-text__tinymce[data-is-empty='true']::before,
	blockquote > .editor-rich-text p,
	p {
		font-size: $font__size-lg;
		font-family: $font__heading;
		text-align: center;

		@include media( tablet ) {
			font-size: $font__size-xl;
		}
	}

	.wp-block-pullquote__citation {
		font-family: $font__heading;
		font-style: italic;
		text-align: center;

		em,
		i {
			font-style: normal;
		}
	}

	&[data-align='left'] .wp-block-pullquote,
	&[data-align='right'] .wp-block-pullquote {
		margin-top: #{1.5 * $size__spacing-unit};
		margin-bottom: #{1.5 * $size__spacing-unit};

		@include media( tablet ) {
			blockquote
				> .block-library-pullquote__content
				.editor-rich-text__tinymce[data-is-empty='true']::before,
			blockquote > .editor-rich-text p,
			p {
				font-size: $font__size-md;
				text-align: left;
			}
		}

		.wp-block-pullquote__citation {
			text-align: left;
		}
	}
}

.wp-block-cover h2.article-section-title {
	&::before {
		width: 70%;
	}
	&::after {
		display: none;
	}
}

#newspack-post-subtitle-element {
	text-align: center;
}
