/*!
Newspack Theme Static Fron Page Editor Styles
*/
/** === Includes === */
/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
/** === Content Width === */
body.newspack-static-front-page .wp-block {
  max-width: 1230px;
}

body.newspack-static-front-page [data-type="core/group"][data-align="wide"] .wp-block:not([data-align="wide"]):not([data-align="full"]),
body.newspack-static-front-page [data-type="core/group"][data-align="full"] .wp-block:not([data-align="wide"]):not([data-align="full"]) {
  max-width: 1230px;
}

body.newspack-static-front-page [data-type="core/group"][data-align="wide"] .wp-block[data-align="wide"],
body.newspack-static-front-page [data-type="core/group"][data-align="full"] .wp-block[data-align="wide"] {
  max-width: 1430px;
}
