.wp-caption {
	margin-bottom: calc(1.5 * #{$size__spacing-unit});
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption,
.wp-caption-text {
	border-bottom: 1px solid $color__border;
	color: $color__text-light;
	font-size: $font__size-xs;
	font-family: $font__heading;
	line-height: $font__line-height-pre;
	margin: 0;
	max-width: 780px;
	padding: 0 ( $size__spacing-unit * .5 ) ( $size__spacing-unit * .5 );
	text-align: center;
}
