// The Event Calendar CSS override
// See: https://theeventscalendar.com/knowledgebase/k/basic-font-and-color-changes-with-css/

// Import theme variables
@import '../sass/variables-style/variables-style';

// Import TEC baseline styles
@import '../../newspack-theme/sass/plugins/the-events-calendar';

// Theme-specific styles
.tribe_community_edit .button.mb-cta {
	border-radius: 0;
}

// Overlap styles
.tec-wrapper {
	background-color: $color__background-body;
	padding-top: $size__spacing-unit 0;

	@include media( tablet ) {
		border-top: 4px solid $color__primary-variation;
		padding: #{3 * $size__spacing-unit} #{2 * $size__spacing-unit} 0;
	}

	@include media( desktop ) {
		padding-left: #{3 * $size__spacing-unit};
		padding-right: #{3 * $size__spacing-unit};
	}

	#tribe-events-pg-template,
	.tribe-events-l-container {
		padding: $size__spacing-unit 0 0;
	}

	@include media( tablet ) {
		#tribe-events-pg-template {
			padding: 0;
		}

		.tribe-events-back {
			margin-top: 0;
		}
	}
}

.single-tribe_events {
	.site-content {
		@include media( tablet ) {
			margin-top: #{-3.5 * $size__spacing-unit};
		}

		@include media( desktop ) {
			margin-top: #{-6 * $size__spacing-unit};
		}
	}
}
