/*
Theme Name: Newspack Nelson
Theme URI:
Author: Automattic
Author URI: https://newspack.blog
Description:
Requires at least: WordPress 4.9.6
Version: 1.57.1
License: GNU General Public License v2 or later
License URI: LICENSE
Template: newspack-theme
Text Domain: newspack-nelson
Tags:
AMP: true
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Newspack Theme is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@import 'variables-style/variables-style';
@import '../../newspack-theme/sass/style-base';

// Header Overlap
// Header - Solid background
.h-sb .site-header {
	background-color: $color__primary;
}

.site-header,
.h-sb .site-header {
	@include media( tablet ) {
		padding-bottom: #{4 * $size__spacing-unit};
	}

	@include media( desktop ) {
		padding-bottom: #{7 * $size__spacing-unit};
	}
}

.site-header .highlight-menu-contain {
	@include media( desktop ) {
		margin-top: $size__spacing-unit;
	}
}

// Header short
.h-sh {
	.middle-header-contain {
		@include media( tablet ) {
			padding-top: #{0.5 * $size__spacing-unit};
		}

		@include media( desktop ) {
			padding-top: $size__spacing-unit 0;
		}
	}

	@include media( desktop ) {
		.site-header {
			padding-bottom: #{10 * $size__spacing-unit};
		}

		.highlight-menu-contain {
			position: relative;
			top: #{3 * $size__spacing-unit};
		}
	}
}

// Site Content - not applied when sticky header is active
body:not( .h-stk ) .site-content,
body:not( .h-stk ).hide-page-title .site-content,
body:not( .h-stk ).newspack-front-page.hide-homepage-title .site-content,
body:not( .h-stk ):not( .newspack-front-page )
	.newspack_global_ad.global_below_header
	+ .site-content,
body:not( .h-stk ) .site-breadcrumb {
	@include media( tablet ) {
		margin-top: #{-3.5 * $size__spacing-unit};
	}

	@include media( desktop ) {
		margin-top: #{-6 * $size__spacing-unit};
	}
}

body:not( .h-stk ).single-featured-image-beside,
body:not( .h-stk ).single-featured-image-behind,
body:not( .h-stk ).single-featured-image-above {
	.site-content {
		margin-top: 0;
	}
}

// Header
.site-header {
	border-bottom: 2px solid $color__primary-variation;
	@include media( tablet ) {
		border-bottom-width: 0;
	}
}

.site-header,
.h-db .middle-header-contain, // Header default background
.h-sh.h-db .site-header, // Header short height; header default background
body:not( .h-sb ) .site-header {
	// Not Header solid background
	background-color: #efefef;
}

// Header short height; Header default bg
.h-sh.h-db .middle-header-contain,
.h-sub.h-db .middle-header-contain {
	border-bottom: 0;
}

// Mobile CTA
.button.mb-cta {
	border-radius: 0;
}

.bottom-header-contain .wrapper {
	border: 0;
}

// Header - solid background
.h-sb .bottom-header-contain {
	background-color: transparent;

	.nav1 .main-menu > li,
	.nav1 .main-menu > li > a,
	#search-toggle {
		color: inherit;
	}
}

.h-sb .highlight-menu a {
	color: #fff;
}

// Header - sticky
.h-stk {
	#primary {
		border: 0;
	}

	@include media( tablet ) {
		.site-header {
			border-bottom-style: solid;
			border-bottom-width: 4px;
			padding: 0;
		}

		.middle-header-contain {
			padding-top: 0;
		}

		&.h-db .bottom-header-contain {
			border: 0;
		}
	}
}

// Featured templates - Short header on subpages
.single-featured-image-beside,
.single-featured-image-behind {
	@include media( tablet ) {
		&.h-sub.h-db,
		&.h-sub.h-sb {
			.site-header,
			.middle-header-contain,
			&:not( .h-sb ) .site-header {
				background: transparent;
			}
		}

		&.h-sub.h-stk {
			.site-header {
				border-bottom: 0;
			}
		}
	}
}

// Content Area

#primary {
	background-color: $color__background-body;
	padding: $size__spacing-unit 0;

	@include media( tablet ) {
		border-top: 4px solid $color__primary-variation;
		padding: #{3 * $size__spacing-unit} #{2 * $size__spacing-unit} 0;
	}

	@include media( desktop ) {
		padding-left: #{3 * $size__spacing-unit};
		padding-right: #{3 * $size__spacing-unit};
	}
}

@include media( tablet ) {
	.newspack-front-page:not( .page-template-single-feature ) #primary {
		padding-top: $size__spacing-unit;
	}
}

.newspack-front-page.hide-homepage-title {
	.entry-content,
	[id='pico'] {
		> .wp-block-group.alignfull:first-child {
			margin-top: #{-1 * $size__spacing-unit};

			@include media( tablet ) {
				margin-top: calc(
					#{-1 * $size__spacing-unit} - 4px
				); // minus 4px to offset bottom border on header
			}
		}
	}
}

.single-featured-image-behind,
.single-featured-image-above {
	#primary {
		padding-top: 0;
	}

	@include media( tablet ) {
		.site-header {
			padding: 0;
		}

		#primary {
			border-top: 0;
		}
	}
}

@include media( tablet ) {
	.single-featured-image-beside {
		.site-header {
			padding: 0;
			z-index: 2;
		}

		#primary {
			border-top: 0;
			padding-top: 0;
		}
	}
}

// HTML Elements

h1,
h2,
h3,
h4,
.comments-title {
	font-weight: 800;
}

// Accent headers

.accent-header,
#secondary .widgettitle,
div.wpnbha .article-section-title,
.cat-links {
	color: $color__text-light;
	font-size: $font__size-xs;
	font-weight: bold;
}

.accent-header,
.wp-block-columns .wp-block-column > .accent-header,
div.wpnbha .article-section-title {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{1.5 * $size__spacing-unit};
	}
}

.single .cat-links {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{2.5 * $size__spacing-unit};
	}
}

#secondary .widget-title,
#secondary .widgettitle {
	color: inherit;
	font-size: $font__size-lg;

	@include media( tablet ) {
		font-size: $font__size-xl;
	}
}

// Posts & Pages

.entry-meta {
	a,
	a:visited,
	.byline a,
	.byline a:visited {
		color: $color__text-light;
	}

	a:hover,
	.byline a:hover {
		color: $color__text-main;
	}
}

.single {
	.entry-header {
		padding-bottom: #{2 * $size__spacing-unit};

		@include media( tablet ) {
			padding-bottom: #{3 * $size__spacing-unit};
		}
	}

	&:not( .has-featured-image ) .entry-header,
	.has-large-featured-image .entry-header {
		border-bottom: 2px solid $color__text-main;

		@include media( tablet ) {
			margin-bottom: $size__spacing-unit;
		}
	}

	.entry-meta {
		font-size: $font__size-xs;
	}
}

.entry .entry-footer,
.entry .entry-footer a,
.entry .entry-footer a:hover {
	color: $color__text-main;
}

.tags-links {
	a {
		background: $color__background-pre;
		margin: 0 #{0.25 * $size__spacing-unit} #{0.25 * $size__spacing-unit} 0;
		padding: #{0.25 * $size__spacing-unit} #{0.5 * $size__spacing-unit};

		&:hover {
			background: lighten( $color__background-pre, 5% );
		}
	}

	.sep {
		display: none;
	}
}

.post-navigation {
	border-color: $color__text-main;
	border-top-width: 4px;
}

// Blocks

blockquote {
	font-family: $font__heading;
}

//! Paragraph
.has-drop-cap:not( :focus )::first-letter {
	color: $color__secondary;
	font-family: $font__heading;
	font-weight: 800;
}

//! Group Block
.wp-block-group.is-style-border {
	border-color: currentColor;
}

//! Newspack Article Block
.wpnbha {
	article .entry-meta {
		font-size: #{0.7 * $font__size_base};
	}

	&.type-scale1,
	&.type-scale2,
	&.type-scale3,
	&.type-scale4 {
		article .entry-meta {
			font-size: #{0.6 * $font__size_base};
		}
	}
}

//! Pullquote
.wp-block-pullquote {
	border-width: 16px 0 4px;
	font-weight: bold;

	blockquote p,
	&.is-style-solid-color blockquote p {
		@include media( tablet ) {
			font-size: $font__size-xl;
		}
	}

	&.has-text-align-right:not( .alignleft ):not( .alignright ),
	&.has-text-align-left:not( .alignleft ):not( .alignright ) {
		@include media( tablet ) {
			p {
				font-size: $font__size-xl;
			}
		}
	}

	blockquote {
		margin: #{2 * $size__spacing-unit} 0;

		p {
			font-style: normal;

			em {
				font-style: italic;
			}

			@include media( tablet ) {
				font-size: $font__size-xl;
			}
		}
	}

	cite {
		letter-spacing: 0.05em;
		opacity: 0.9;
	}

	cite,
	&.is-style-solid-color blockquote cite {
		text-transform: uppercase;
	}

	&.alignleft,
	&.alignright {
		border-width: 0;
		position: relative;
		margin-top: #{1.5 * $size__spacing-unit};
		margin-bottom: #{1.5 * $size__spacing-unit};

		@include media( tablet ) {
			blockquote p,
			&.is-style-solid-color blockquote p {
				font-size: $font__size-lg;
			}
		}

		&::before {
			border-color: inherit;
			border-width: 10px 0 0;
			border-style: solid;
			content: '';
			display: block;
			width: 75%;
		}

		&.is-style-solid-color::before,
		&[style*='border-width']::before {
			display: none;
		}
	}
}

.wp-block-separator {
	border-top: 2px solid $color__text-main;

	&.has-background {
		border-top: 2px solid currentColor;
	}

	&:not( .is-style-dots ):not( .is-style-wide ) {
		border-top: 5px solid $color__text-main;
		height: 0;

		&.has-background {
			border-top-color: currentColor;
			height: 0;
		}
	}

	&.is-style-dots {
		border: 0;

		&::before {
			color: $color__text-main;
		}
	}
}

// Author Bio

.author-bio {
	border-top: 8px solid $color__text-main;
	padding-top: #{1.5 * $size__spacing-unit};

	@include media( tablet ) {
		border-top-width: 10px;
	}

	h2 {
		color: inherit;
		font-size: $font__size-md;
		font-weight: 800;
		letter-spacing: 0;
		margin: 0 0 #{0.5 * $size__spacing-unit};
		text-transform: none;

		span {
			color: $color__text-light;
			font-size: $font__size-xs;
		}
	}

	.author-link {
		color: $color__text-main;
	}
}

// Archives

.archive {
	.page-header {
		border-bottom: 2px solid $color__text-main;
		padding-bottom: #{2 * $size__spacing-unit};
	}

	.page-title {
		color: $color__text-light;
		font-size: $font__size-sm;
	}
}

.page-description {
	font-size: $font__size-xxxxxl;
	margin-top: $size__spacing-unit;
}

.taxonomy-description {
	font-family: $font__heading;
	font-style: normal;
}

// Widgets
.mobile-sidebar,
.site-footer {
	.accent-header,
	.widgettitle,
	div.wpnbha .article-section-title {
		color: inherit;
	}
}

// Footer

.site-footer {
	background-color: $color__primary;
	color: $color__background-body;

	a,
	a:hover,
	a:visited,
	.widget a,
	.widget a:hover,
	.widget a:visited,
	.widget-title,
	.widgettitle {
		color: inherit;
	}
}

.footer-branding {
	margin-bottom: #{2 * $size__spacing-unit};

	@include media( tablet ) {
		padding-top: #{2 * $size__spacing-unit};
	}

	.wrapper {
		border-bottom: 1px solid currentColor;
	}
}

.site-info {
	background-color: $color__text-main;
	color: $color__background-body;

	.site-info-contain:first-child,
	.widget-area .wrapper {
		border: 0;
	}
}

.site-footer .site-info {
	a {
		color: inherit;
	}

	a:hover,
	a:visited {
		color: inherit;
		opacity: 0.7;
	}
}

// Pop-up

.entry-content {
	.newspack-lightbox {
		.newspack-popup-wrapper {
			border: 8px solid;

			@include media( tablet ) {
				border-width: 10px;
			}
		}
	}
}

// Yoast Breadcrumb

.site-breadcrumb {
	@include media( tablet ) {
		margin-bottom: #{3.5 * $size__spacing-unit};
	}

	@include media( desktop ) {
		margin-bottom: #{6 * $size__spacing-unit};
	}

	.h-sb & {
		color: $color__background-body;

		a,
		.breadcrumb_last {
			color: inherit;
		}

		a:active,
		a:focus,
		a:hover {
			opacity: 0.75;
		}
	}

	.has-highlight-menu & {
		.wrapper {
			border-top-color: $color__primary-variation;
		}
	}
}

/* Trust Indicators */

@include media( tablet ) {
	.featured-image-beside {
		.entry-meta .trust-label {
			color: #fff;
		}
	}
}

.featured-image-behind {
	.entry-meta .trust-label {
		color: #fff;
	}
}

.entry-meta .trust-label {
	margin-top: #{0.5 * $size__spacing-unit};
}

// Ads
.newspack_global_ad.global_below_header {
	display: none;
}
