/*!
Newspack Nelson Editor Styles
*/

/** === Includes === */

@import 'variables-style/variables-style';
@import '../../newspack-theme/sass/style-editor-base';

// Elements

h1,
h2,
h3,
h4,
blockquote p,
.editor-post-title__block .editor-post-title__input {
	font-weight: 800;
}

blockquote {
	font-family: $font__heading;
}

// Accent Headers

.accent-header,
.article-section-title {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xs;
	font-weight: bold;
}

.article-section-title {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{1.5 * $size__spacing-unit};
	}
}

.entry-meta .byline a {
	color: $color__text-light;
}

// Blocks

.wp-block-newspack-blocks-homepage-articles {
	article .entry-meta {
		font-size: #{0.7 * $font__size_base};
	}

	&.type-scale1,
	&.type-scale2,
	&.type-scale3,
	&.type-scale4 {
		article .entry-meta {
			font-size: #{0.6 * $font__size_base};
		}
	}
}

//! Newspack Article Carousel
.wp-block-newspack-blocks-carousel {
	.entry-meta .byline a {
		color: inherit;
	}
}

.has-drop-cap:not( :focus )::first-letter {
	color: $color__secondary;
	font-family: $font__heading;
	font-weight: 800;
}

.wp-block-group.is-style-border {
	border-color: currentColor;
}

.wp-block[data-type='core/pullquote'] {
	.wp-block-pullquote {
		border-width: 16px 0 4px;
	}

	blockquote {
		margin: #{2 * $size__spacing-unit} 0;
	}

	blockquote
		> .block-library-pullquote__content
		.editor-rich-text__tinymce[data-is-empty='true']::before,
	blockquote > .editor-rich-text p,
	p {
		font-size: $font__size-lg;
		font-style: normal;
		font-weight: bold;

		@include media( tablet ) {
			font-size: $font__size-xl;
		}
	}

	.wp-block-pullquote__citation {
		font-weight: bold;
		letter-spacing: 0.05em;
		opacity: 0.9;
		text-transform: uppercase;
	}

	&[data-align='left'] .wp-block-pullquote,
	&[data-align='right'] .wp-block-pullquote {
		border-width: 0;
		position: relative;

		blockquote {
			margin-top: #{1.5 * $size__spacing-unit};
			margin-bottom: #{1.5 * $size__spacing-unit};
		}

		@include media( tablet ) {
			blockquote
				> .block-library-pullquote__content
				.editor-rich-text__tinymce[data-is-empty='true']::before,
			blockquote > .editor-rich-text p,
			p {
				font-size: $font__size-md;
			}
		}

		&::before {
			border-color: inherit;
			border-width: 10px 0 0;
			border-style: solid;
			content: '';
			display: block;
			width: 75%;
		}
	}
}

.wp-block-separator {
	&:not( .is-style-dots ) {
		border-top: 2px solid $color__text-main;
	}

	&:not( .is-style-dots ):not( .is-style-wide ) {
		border-top: 5px solid $color__text-main;
	}

	&.is-style-dots::before {
		color: $color__text-main;
	}
}
