@use '../mixins/mixins-master';
@use '../mixins/utilities';
@use '../variables-site/structure';

.alignleft {
	/* rtl:ignore */
	float: left;
	/* rtl:ignore */
	margin-right: structure.$size__spacing-unit;

	@include utilities.media( tablet ) {
		/* rtl:ignore */
		margin-right: calc( 2 * #{structure.$size__spacing-unit} );
	}
}

.alignright {
	/* rtl:ignore */
	float: right;
	/* rtl:ignore */
	margin-left: structure.$size__spacing-unit;

	@include utilities.media( tablet ) {
		/* rtl:ignore */
		margin-left: calc( 2 * #{structure.$size__spacing-unit} );
	}
}

.aligncenter {
	clear: both;
	@include mixins-master.center-block;
}
