/*!
Newspack Theme Styles - Style Pack 2
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-base.scss";

// Accent headers

.accent-header,
.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.cat-links {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xs;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 1.5 * $size__spacing-unit };
	}
}

.single .cat-links {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 2.5 * $size__spacing-unit };
	}
}

#secondary .accent-header {
	color: inherit;
	font-size: $font__size-lg;
	letter-spacing: 0;
	text-transform: none;

	@include media( tablet ) {
		font-size: $font__size-xl;
	}
}

.author-bio {
	 h2 {
		color: inherit;
		font-size: $font__size-md;
		letter-spacing: 0;
		margin: 0 0 #{ 0.5 * $size__spacing-unit };
		text-transform: none;

		span {
			color: $color__text-light;
			letter-spacing: 0.05em;
			font-size: $font__size-xs;
			text-transform: uppercase;
		}
	}

	.author-link {
		color: $color__text-main;
	}
}
