/*!
Newspack Theme Editor Styles - Style Pack 2
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-editor-base";

.accent-header,
.article-section-title {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xs;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.article-section-title {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 1.5 * $size__spacing-unit };
	}
}

// Blocks

.wp-block[data-type="core/pullquote"] {

	.wp-block-pullquote {
		border-width: 16px 0 4px;
	}

	blockquote {
		margin: #{ 2 * $size__spacing-unit } 0;
	}

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p {
		font-size: $font__size-lg;
		font-style: normal;
		font-weight: bold;

		@include media( tablet ) {
			font-size: $font__size-xl;
		}
	}

	.wp-block-pullquote__citation {
		font-weight: bold;
		letter-spacing: 0.05em;
		opacity: 0.9;
		text-transform: uppercase;
	}

	&[data-align="left"] .wp-block-pullquote,
	&[data-align="right"] .wp-block-pullquote {
		border-width: 0;
		position: relative;

		blockquote {
			margin-top: #{ 1.5 * $size__spacing-unit };
			margin-bottom: #{ 1.5 * $size__spacing-unit };
		}

		@include media( tablet ) {
			blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
			blockquote > .editor-rich-text p,
			p {
				font-size: $font__size-md;
			}
		}

		&:before {
			border-color: inherit;
			border-width: 10px 0 0;
			border-style: solid;
			content: "";
			display: block;
			width: 75%;
		}
	}
}
