/*!
Newspack Theme Styles - Style Pack 2
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-base.scss";

// Header Overlap

.site-header,
.header-solid-background .site-header {
	padding-bottom: #{ 0.5 * $size__spacing-unit };

	@include media(tablet) {
		padding-bottom: #{ 4 * $size__spacing-unit };
	}

	@include media( desktop ) {
		padding-bottom: #{ 7 * $size__spacing-unit };
	}
}

.header-simplified .site-header {
	@include media( tablet ) {
		padding-top: #{ 0.5 * $size__spacing-unit };
	}

	@include media( desktop ) {
		padding: $size__spacing-unit 0 #{ 10 * $size__spacing-unit };
	}
}

.site-content,
.newspack-front-page.hide-homepage-title .site-content {
	margin-top: #{ -0.5 * $size__spacing-unit };

	@include media(tablet) {
		margin-top: #{ -3.5 * $size__spacing-unit };
	}

	@include media(desktop) {
		margin-top: #{ -6 * $size__spacing-unit };
	}
}

// Header

.bottom-header-contain .wrapper {
	border: 0;
}

.header-solid-background .bottom-header-contain {
	background-color: transparent;

	.main-navigation .main-menu > li,
	.main-navigation .main-menu > li > a,
	#search-toggle {
		color: inherit;
	}
}

body:not(.header-solid-background) .site-header {
	background-color: #efefef;
}

// Content Area

#primary {
	background-color: $color__background-body;
	border-top: 2px solid $color__primary-variation;
	padding: #{ 2 * $size__spacing-unit } 0;

	@include media(tablet) {
		border-top-width: 4px;
		padding: #{ 3 * $size__spacing-unit } #{ 3 * $size__spacing-unit } 0;
	}

	@include media(desktop) {
		padding: #{ 3.5 * $size__spacing-unit } #{ 4.5 * $size__spacing-unit } 0;
	}
}

.newspack-front-page #primary {
	padding: 0;

	.main-content > article > .entry-content > *:first-child {

		@include media(tablet) {
			padding: $size__spacing-unit #{ 3 * $size__spacing-unit } 0;
		}

		@include media(desktop) {
			padding: $size__spacing-unit #{ 4.5 * $size__spacing-unit } 0;
		}
	}
}

.single-post #primary {
	padding-left: 0;
	padding-right: 0;

	.site-main > .entry-header {
		@include media(tablet) {
			padding-left: #{ 3 * $size__spacing-unit };
			padding-right: #{ 3 * $size__spacing-unit };
		}

		@include media(desktop) {
			padding-left: #{ 4.5 * $size__spacing-unit };
			padding-right: #{ 4.5 * $size__spacing-unit };
		}
	}
}

// Site header

.main-navigation > ul > li,
.tertiary-menu {
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

// Accent headers

.accent-header,
.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.cat-links {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xs;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 1.5 * $size__spacing-unit };
	}
}

.single .cat-links {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 2.5 * $size__spacing-unit };
	}
}

#secondary .accent-header {
	color: inherit;
	font-size: $font__size-lg;
	letter-spacing: 0;
	text-transform: none;

	@include media( tablet ) {
		font-size: $font__size-xl;
	}
}

// Posts & Pages

.entry-meta {
	.byline a {
		color: $color__text-light;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}

.single-post {
	.entry-header {
		padding-bottom: #{ 2 * $size__spacing-unit };

		@include media( tablet ) {
			padding-bottom: #{ 3 * $size__spacing-unit };
		}
	}

	&:not(.has-featured-image) .entry-header,
	.has-large-featured-image .entry-header {
		border-bottom: 2px solid $color__text-main;

		@include media( tablet ) {
			margin-bottom: $size__spacing-unit;
		}
	}

	.entry-meta {
		font-size: $font__size-xs;
	}
}

.entry .entry-footer,
.entry .entry-footer a,
.entry .entry-footer a:hover {
	color: $color__text-main;
}

.tags-links {
	a {
		background: $color__background-pre;
		margin: 0 #{ 0.25 * $size__spacing-unit } #{ 0.25 * $size__spacing-unit } 0;
		padding: #{ 0.25 * $size__spacing-unit } #{ 0.5 * $size__spacing-unit };
		text-transform: uppercase;

		&:hover {
			background: lighten( $color__background-pre, 5% );
		}
	}

	.sep {
		display: none;
	}
}

.post-edit-link {
	text-transform: uppercase;
}

// Blocks

.entry .entry-content {

	.wp-block-newspack-blocks-homepage-articles {
		 article .entry-meta {
			font-size: #{ 0.7 * $font__size_base };
		}

		&.type-scale1,
		&.type-scale2,
		&.type-scale3,
		&.type-scale4 {
			article .entry-meta {
				font-size: #{ 0.6 * $font__size_base };
			}
		}
	}

	.has-drop-cap:not(:focus)::first-letter {
		border: 7px solid $color__primary;
		font-family: $font__heading;
		font-weight: bold;
		font-size: $font__size-xxl;
		padding: 0.4em;
	}

	.wp-block-pullquote {
		border-width: 16px 0 4px;

		blockquote {
			margin: #{ 2 * $size__spacing-unit } 0;

			p {
				font-size: $font__size-lg;
				font-style: normal;
				font-weight: bold;

				@include media( tablet ) {
					font-size: $font__size-xl;
				}
			}
		}

		cite {
			font-weight: bold;
			letter-spacing: 0.05em;
			opacity: 0.9;
			text-transform: uppercase;
		}

		&.alignleft,
		&.alignright {
			border-width: 0;
			position: relative;
			margin-top: #{ 1.5 * $size__spacing-unit };
			margin-bottom: #{ 1.5 * $size__spacing-unit };

			@include media( tablet ) {
				p {
					font-size: $font__size-lg;
				}
			}

			&:before {
				border-color: inherit;
				border-width: 10px 0 0;
				border-style: solid;
				content: "";
				display: block;
				width: 75%;
			}

			&.is-solid-color:before {
				display: none;
			}
		}
	}
}

// Author Bio

.author-bio {
	border-top: 8px solid $color__text-main;
	padding-top: #{ 1.5 * $size__spacing-unit };

	@include media( tablet ) {
		border-top-width: 10px;
	}

	h2 {
		color: inherit;
		font-size: $font__size-md;
		letter-spacing: 0;
		margin: 0 0 #{ 0.5 * $size__spacing-unit };
		text-transform: none;

		span {
			color: $color__text-light;
			letter-spacing: 0.05em;
			font-size: $font__size-xs;
			text-transform: uppercase;
		}
	}

	.author-link {
		color: $color__text-main;
	}
}

// Archives

.archive {
	.page-header {
		border-bottom: 2px solid $color__text-main;
		padding-bottom: #{ 2 * $size__spacing-unit };

		@include media( tablet ) {
			padding-bottom: #{ 4 * $size__spacing-unit };
		}
	}

	.page-title {
		color: $color__text-light;
		font-size: $font__size-sm;
	}
}

.page-description {
	font-size: $font__size-xxxxxl;
	margin-top: $size__spacing-unit;
}

.taxonomy-description {
	font-family: $font__heading;
	font-style: normal;
}

// Footer

.site-footer {
	background-color: $color__primary;
	color: $color__background-body;

	a,
	a:hover,
	a:visited,
	.widget a,
	.widget a:hover,
	.widget a:visited,
	.widget-title {
		color: inherit;
	}

	.widget-title {
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}

.footer-branding {
	margin-bottom: #{ 2 * $size__spacing-unit };

	@include media( tablet ) {
		padding-top: #{ 2 * $size__spacing-unit };
	}

	.wrapper {
		border-bottom: 1px solid currentColor;
	}
}

.site-info {
	background-color: $color__text-main;
	color: $color__background-body;

	.wrapper {
		border: 0;
	}

	a {
		color: inherit;
	}
}
