/*!
Newspack Theme Styles - Style Pack 2
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-base.scss";

// Site header

.main-navigation > ul > li,
.tertiary-menu {
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.site-header .tertiary-menu {
	font-size: $font__size-xs;
}

// Accent headers

.accent-header,
.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.cat-links {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xs;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 1.5 * $size__spacing-unit };
	}
}

.single .cat-links {
	margin-bottom: $size__spacing-unit;
	@include media( tablet ) {
		margin-bottom: #{ 2.5 * $size__spacing-unit };
	}
}

#secondary .accent-header {
	color: inherit;
	font-size: $font__size-lg;
	letter-spacing: 0;
	text-transform: none;

	@include media( tablet ) {
		font-size: $font__size-xl;
	}
}

// Posts & Pages

.entry-meta {
	.byline a {
		color: $color__text-light;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}

.single-post {
	&:not(.has-featured-image) .entry-header,
	.has-large-featured-image .entry-header {
		border-bottom: 2px solid $color__text-main;

		@include media( tablet ) {
			padding-bottom: #{ 2 * $size__spacing-unit };
			margin-bottom: $size__spacing-unit;
		}
	}

	.entry-meta {
		font-size: $font__size-xs;
	}
}

// Blocks

.entry .entry-content {
	.wp-block-pullquote {
		border-width: 16px 0 4px;

		blockquote {
			margin: #{ 2 * $size__spacing-unit } 0;

			p {
				font-size: $font__size-lg;
				font-style: normal;
				font-weight: bold;

				@include media( tablet ) {
					font-size: $font__size-xl;
				}
			}
		}

		cite {
			font-weight: bold;
			letter-spacing: 0.05em;
			opacity: 0.9;
			text-transform: uppercase;
		}

		&.alignleft,
		&.alignright {
			border-width: 0;
			position: relative;
			margin-top: #{ 1.5 * $size__spacing-unit };
			margin-bottom: #{ 1.5 * $size__spacing-unit };

			@include media( tablet ) {
				p {
					font-size: $font__size-lg;
				}
			}

			&:before {
				border-color: inherit;
				border-width: 10px 0 0;
				border-style: solid;
				content: "";
				display: block;
				width: 75%;
			}

			&.is-solid-color:before {
				display: none;
			}
		}
	}
}

// Author Bio

.author-bio {
	border-top: 8px solid $color__text-main;
	padding-top: #{ 1.5 * $size__spacing-unit };

	@include media( tablet ) {
		border-top-width: 10px;
	}

	h2 {
		color: inherit;
		font-size: $font__size-md;
		letter-spacing: 0;
		margin: 0 0 #{ 0.5 * $size__spacing-unit };
		text-transform: none;

		span {
			color: $color__text-light;
			letter-spacing: 0.05em;
			font-size: $font__size-xs;
			text-transform: uppercase;
		}
	}

	.author-link {
		color: $color__text-main;
	}
}
