.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.author-bio .author-link,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.site-title,
.site-info,
#cancel-comment-reply-link,
.use-header-font,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
}

.page-description,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.pagination .nav-links,
.comments-title,
.comment-author .fn,
.no-comments,
.site-title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: $font__line-height-heading;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation {
	line-height: $font__line-height-heading;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.site-branding,
.main-navigation ul.main-menu > li,
.social-navigation,
.author-description .author-bio,
.nav-links {
	line-height: 1.25;
}

h1,
.page-description {
	font-size: $font__size-xxl;

	@include media(tablet) {
		font-size: $font__size-xxxl;
	}
}

.entry-title,
.not-found .page-title,
.error-404 .page-title,
.has-larger-font-size,
.archive:not(paged) article.entry:first-of-type .entry-title,
h2 {
	font-size: $font__size-lg;

	@include media(tablet) {
		font-size: $font__size-xl;
	}
}

.has-regular-font-size,
.has-large-font-size,
.comments-title,
.archive .entry-title,
h3 {
	font-size: $font__size-lg;
}

.site-title,
.site-description,
.nav-links,
.comment-author .fn,
.no-comments,
h2.author-title,
p.author-bio,
h4 {
	font-size: $font__size-md;
}

.page-title,
.main-navigation {
	font-size: $font__size_base;
}

.entry-meta,
.entry-footer,
.main-navigation,
.pagination .nav-links,
.comment-content,
h5 {
	font-size: $font__size-sm;
}

.discussion-meta-info,
.has-small-font-size,
.comment-reply-link,
.comment-metadata,
.comment-notes,
#cancel-comment-reply-link,
img:after,
.site-info,
h6 {
	font-size: $font__size-xs;
}

.site-title {
	font-weight: normal;
}

.page-links a {
	font-weight: bold;
}

.post-navigation .post-title,
.entry-title,
.not-found .page-title,
.error-404 .page-title,
.comments-title,
blockquote {
	hyphens: auto;
	word-break: break-word;
}

/* Do not hyphenate entry title on tablet view and bigger. */
.entry-title {
	@include media(tablet) {
		hyphens: none;
	}
}

.accent-header {
	border-bottom: 4px solid #ccc;
	color: $color__primary;
	font-size: 1em;
	margin: 0 0 calc( #{$size__spacing-unit} / 2 );
	padding: 0 0 calc( #{$size__spacing-unit} / 2 );
	text-transform: uppercase;
}

.page-header {
	width: 100%;
}

.page-title {
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.page-description {
	text-transform: none;
}
