/*!
Newspack Theme Editor Styles - Style Pack 4
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-editor-base";

.accent-header,
.article-section-title {
	color: $color__primary;
	text-align: center;
}

.article-section-title {
	margin-bottom: #{ 1.5 * $size__spacing-unit };
	overflow: hidden;


	&:before,
	&:after {
		border-top: 1px solid $color__border;
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		width: 25%;
	}

	&:before {
		right: 0;
	}

	&:after {
		left: 0;
	}
}
