/*!
Newspack Theme Styles - Style Pack 4
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-base.scss";

// Accent headers

.accent-header,
.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.cat-links {
	color: $color__primary;
	text-align: center;
}

.site-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.widget-title.accent-header {
	margin-bottom: $size__spacing-unit;
	overflow: hidden;

	span {
		display: inline-block;
		position: relative;

		&:before,
		&:after {
			border-top: 1px solid $color__border;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			width: 600px;
		}

		&:before {
			right: calc( 100% + #{ 0.5 * $size__spacing-unit } );
		}

		&:after {
			left: calc( 100% + #{ 0.5 * $size__spacing-unit } );
		}
	}
}

.cat-links {
	font-size: $font__size-sm;

	a {
		color: inherit;
	}
}

.blog,
.search {
	.cat-links {
		text-align: left;
	}
}

// Author bio

.author-bio {
	display: block;
	text-align: center;

	h2 {
		color: $color__text-main;
		margin: 0 0 #{ 0.5 * $size__spacing-unit };
		text-align: left;
	}

	.avatar {
		height: 60px;
		margin-left: auto;
		margin-right: auto;
		width: 60px;

		@include media( tablet ) {
			margin-left: 0;
			margin-right: $size__spacing-unit;
		}
	}

	h2 {
		margin: 0;
	}

	.author-bio-text {
		width: 100%;

		@include media( tablet ) {
			margin-left: auto;
			margin-right: auto;
			width: 80%;
		}
	}

	.author-bio-header {
		@include media( tablet ) {
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: left;
		}
	}
}

.entry .entry-content {
	.has-drop-cap:not(:focus)::first-letter {
		color: $color__primary;
		font-family: $font__heading;
		font-weight: bold;
	}
}
