.mobile-menu-toggle {
	background-color: transparent;
	color: inherit;
	margin-left: auto;
	padding: 0;

	&:hover,
	&:focus {
		background-color: transparent;
		color: inherit;
	}

	.svg-icon {
		position: relative;
		top: 4px;
	}
}

.site-header .mobile-menu-toggle {
	&:hover {
		color: inherit;
	}
}

@include media( tablet ) {
	// Header default height
	.h-dh .site-header .mobile-menu-toggle {
		display: none;
	}
}

@include media( narrowdesktop ) {
	// Header - short height
	.h-sh .site-header .mobile-menu-toggle {
		display: none;
	}
}

.mobile-sidebar {
	background-color: $color__primary;
	color: #fff;
	font-size: $font__size-sm;
	width: 90vw;
	padding: $size__spacing-unit;

	@include media( tablet ) {
		width: 33vw;
	}

	> * {
		clear: both;
		margin-bottom: $size__spacing-unit;
	}

	.mobile-menu-toggle {
		font-size: 1em;
		float: right;
		margin: 0 0 $size__spacing-unit;
		padding: 0;
	}

	ul ul {
		margin-left: $size__spacing-unit;
	}

	a,
	a:visited,
	.nav1 .sub-menu > li > a {
		color: #fff;
	}

	a {
		display: inline-block;
		margin: #{0.125 * $size__spacing-unit} 0;
		padding: #{0.125 * $size__spacing-unit} #{0.25 * $size__spacing-unit};
	}

	a:hover {
		background: transparent;
		text-decoration: underline;
	}

	nav.secondary-menu a,
	.nav1 .main-menu > li > a {
		padding-left: 0;
		padding-right: 0;
	}

	nav.nav1 + nav.secondary-menu {
		border-top: 1px solid #fff;
		padding-top: #{0.75 * $size__spacing-unit};
	}

	.nav1 .main-menu > li.menu-item-has-children .submenu-expand svg,
	.nav1 .sub-menu > li.menu-item-has-children .submenu-expand,
	.submenu-expand {
		display: none;
	}

	.nav3 {
		li {
			display: inline-block;
			margin-right: #{0.5 * $size__spacing-unit};
		}

		a {
			padding: #{0.125 * $size__spacing-unit} #{0.5 * $size__spacing-unit};
		}
	}
}

#mobile-sidebar-fallback {
	bottom: 0;
	overflow: auto;
	position: fixed;
	right: -100%;
	top: 0;
	transition: right 0.2s;
	z-index: 999999;

	> * {
		display: none;
	}
}

.menu-opened #mobile-sidebar-fallback {
	right: 0;

	> * {
		display: block;
	}
}

.menu-opened::after {
	background-color: rgba( 0, 0, 0, 0.2 );
	bottom: 0;
	content: '';
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}
