/* Site footer */

#colophon {

	.footer-branding {}

	.widget-area {

		.wrapper {
			justify-content: flex-start;
		}

		.widget {
			width: 100%;
			@include media(tablet) {
				margin-right: calc(3 * #{$size__spacing-unit});
				width: calc(25% - (3 * #{$size__spacing-unit}));
			}
		}

		&.widgets-two {
			.widget {
				@include media(tablet) {
					width: calc(50% - (3 * #{$size__spacing-unit}));
				}
			}
		}

		&.widgets-three {
			.widget {
				@include media(tablet) {
					&:first-child {
						width: calc(50% - (3 * #{$size__spacing-unit}));
					}
				}
			}
		}
	}

	.site-info {
		color: $color__text-light;

		.wrapper {
			border-top: 1px solid #ccc;
			justify-content: flex-start;
			padding: $size__spacing-unit 0;
		}

		a {
			color: inherit;

			&:hover {
				text-decoration: none;
				color: $color__primary-variation;
			}
		}

		.imprint,
		.privacy-policy-link {
			margin-right: $size__spacing-unit;
		}
	}
}
