/* Site footer */

.site-footer {
	margin: #{ 2 * $size__spacing-unit } 0 0;

	a {
		color: $color__text-light;
	}

	.footer-branding {
		.wrapper {
			padding-top: $size__spacing-unit;
		}

		.custom-logo-link,
		.footer-logo-link {
			height: auto;
			margin-bottom: $size__spacing-unit;
			max-height: 100px;
			max-width: 200px;
			width: auto;
		}
	}

	.widget-area {
		padding: $size__spacing-unit 0 #{ 2 * $size__spacing-unit };

		.wrapper {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	.widget {
		width: 100%;

		@include media( mobile ) {
			flex: 1 0 0px;
			margin-right: #{ 2 * $size__spacing-unit };
			min-width: calc( 50% - #{ 2 * $size__spacing-unit } );
		}

		@include media( tablet ) {
			min-width: calc( 25% - #{ 2 * $size__spacing-unit } );
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.widget-title {
		color: $color__text-light;
		font-size: inherit;
	}
}

.site-info {
	color: $color__text-light;

	.wrapper {
		border-top: 1px solid $color__border;
		justify-content: space-between;
		padding: $size__spacing-unit 0;
	}

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
			color: $color__primary-variation;
		}
	}

	.privacy-policy-link {
		margin-right: $size__spacing-unit;
	}
}
