// Site branding
.site-branding {
	align-items: center;
	color: $color__text-light;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	@include media( tablet ) {
		flex-basis: 60%;
	}
}

// Site logo
.custom-logo-link {
	box-sizing: content-box;
	line-height: 1;
	margin: 0 $size__spacing-unit 0 0;
	overflow: hidden;
}

.site-header .custom-logo-link .custom-logo {
	@include media( tabletonly ) {
		height: auto;
		max-height: 75px;
		max-width: 175px;
		width: auto;
	}
}

// Site identity
.site-identity {
	align-items: baseline;
	display: flex;
}

// Site title
.site-title {
	color: $color__text-main;
	font-weight: 700;
	margin: 0;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}
}

// Site description
.site-description {
	color: $color__text-light;
	display: none;
	font-weight: normal;
	font-size: $font__size-sm;
	font-style: italic;
	margin: 0;
	padding: 0 $size__spacing-unit;

	@include media( mobile ) {
		display: block;
	}
}

.hide-site-tagline .site-description {
	clip: rect( 1px, 1px, 1px, 1px );
	position: absolute;
}

// Top bar
.top-header-contain {
	background-color: #4a4a4a;
	color: #fff;

	.wrapper {
		justify-content: flex-start;
	}

	nav {
		padding-bottom: #{0.3 * $size__spacing-unit};
		padding-top: #{0.3 * $size__spacing-unit};
	}

	#social-nav-contain {
		margin-left: auto;
	}
}

// Middle bar
.middle-header-contain .wrapper {
	align-items: center;
	padding: $size__spacing-unit 0;
	@include media( mobile ) {
		padding: #{1.5 * $size__spacing-unit} 0;
	}
}

// Bottom bar
.bottom-header-contain {
	.wrapper {
		@include media( tablet ) {
			border-bottom: 1px solid $color__border;
			border-top: 1px solid $color__border;
		}
	}
}

// Search toggle
#search-toggle {
	background-color: transparent;
	color: inherit;
	padding: #{0.25 * $size__spacing-unit} 0 0;

	.search-icon {
		display: none;
	}

	&:hover {
		opacity: 0.7;
	}
}

.header-search-contain {
	display: none;
	margin-left: #{0.75 * $size__spacing-unit};
	position: relative;

	@include media( tablet ) {
		display: block;
	}

	#header-search {
		position: absolute;
		top: calc( 100% + 4px );
		width: 300px;
		z-index: 5;

		@include media( tablet ) {
			right: 0;
		}
	}
}

.hide-header-search {
	#search-toggle {
		.search-icon {
			display: block;
		}

		.close-icon {
			display: none;
		}
	}
	#header-search {
		display: none;
	}
}

/**
 * Header options.
 */

// Default Header

.h-db {
	.middle-header-contain {
		border-bottom: 1px solid $color__border;

		@include media( tablet ) {
			border-bottom: 0;
		}
	}
}

// Centred Logo
.h-cl {
	@include media( tablet ) {
		.site-header .middle-header-contain .wrapper > div {
			justify-content: center;
			width: 35%;

			&.site-branding {
				width: 30%;
			}
		}

		.site-branding {
			flex-basis: unset;
			flex-wrap: wrap;
		}

		.site-identity {
			flex-direction: column;
		}

		.site-header .custom-logo-link,
		.site-title,
		.site-description {
			text-align: center;
			width: 100%;
		}

		.site-description {
			padding-top: #{0.25 * $size__spacing-unit};
		}

		.site-header .custom-logo-link {
			margin-right: 0;

			img {
				height: auto;
				margin: auto;
				max-width: 100%;
			}
		}
	}

	@include media( desktop ) {
		.site-header .middle-header-contain .wrapper > div {
			flex: 1;
			display: flex;
			width: auto;

			&.site-branding {
				width: auto;
			}

			&:first-of-type > * {
				margin-right: auto;
			}

			&:last-of-type {
				justify-content: flex-end;
			}
		}

		.site-header .custom-logo-link img {
			max-width: inherit;
		}
	}
}

// Solid Background

.h-sb {
	.site-header {
		padding-bottom: 0;
	}

	.site-header,
	.site-title a,
	.site-title a:visited,
	.site-description,
	.middle-header-contain,
	.nav1 .main-menu > li,
	.nav1 .main-menu > li > a {
		color: #fff;
	}

	.top-header-contain {
		background-color: darken( $color__primary, 5% );
		border-bottom: 1px solid darken( $color__primary, 10% );
	}

	.middle-header-contain {
		background-color: $color__primary;

		.wrapper {
			@include media( tablet ) {
				padding: #{1.5 * $size__spacing-unit} 0 $size__spacing-unit;
			}
		}
	}

	.bottom-header-contain {
		background-color: #4a4a4a;
		.wrapper {
			border: 0;
		}

		.nav1 .main-menu > li,
		.nav1 .main-menu > li > a,
		#search-toggle {
			color: #fff;
		}
	}
}

// Header - short height
.h-sh {
	.site-header .wrapper {
		justify-content: flex-start;
	}

	.site-branding {
		display: flex;
		flex-basis: auto;
	}

	.site-description {
		margin: 0;
	}

	// Left-aligned logo
	&.h-ll {
		.site-branding {
			margin-right: $size__spacing-unit;
		}

		&.hide-site-tagline .nav1 {
			flex-grow: 2;
		}

		&.hide-site-tagline .nav-wrapper {
			margin-left: auto;

			+ .nav-wrapper {
				margin-left: 0;
			}
		}

		&.hide-site-tagline.has-tertiary-menu .nav-wrapper {
			margin-left: 0;
			+ .nav-wrapper {
				margin-left: auto;
			}
		}

		&.show-site-tagline .site-branding {
			margin-right: auto;
		}
	}

	// Default background color.
	&.h-db .middle-header-contain {
		border-bottom: 1px solid $color__border;
	}

	.middle-header-contain .wrapper {
		align-items: center;
		padding: #{0.5 * $size__spacing-unit} 0;
	}

	.header-search-contain {
		margin-left: #{0.75 * $size__spacing-unit};
	}
}

// Wrapper used to align search with menus.
.nav-wrapper {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

// Centred logo; short header
.h-cl.h-sh .nav-wrapper:first-of-type {
	justify-content: flex-start;
}

// Hide desktop menus at specific breakpoints.

.desktop-only {
	display: none;
}

@include media( tablet ) {
	// Header default height
	.h-dh .desktop-only {
		display: inherit;
	}
}

@include media( narrowdesktop ) {
	// Header short height
	.h-sh .desktop-only {
		display: inherit;
	}
}
