/*
Theme Name: Newspack Katharine
Theme URI:
Author: Automattic
Author URI: https://newspack.com
Description:
Requires at least: WordPress 4.9.6
Version: 1.84.1
License: GNU General Public License v2 or later
License URI: LICENSE
Template: newspack-theme
Text Domain: newspack-katharine
Tags:
AMP: true
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Newspack Theme is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
