/*!
Newspack Theme Editor Styles - Style Pack 1
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-editor-base";

.wp-block-newspack-blocks-homepage-articles {

	&:not(.is-grid) {
		article:not(:last-of-type) {
			border-bottom: 2px solid darken( $color__background-body, 5% );
			padding-bottom: 1em;
		}
	}

	.article-section-title {
		border-bottom: 4px solid;
		font-family: $font__body;
		font-size: 1em;
	}
}
