/*!
Newspack Theme Editor Styles - Style Pack 1
*/

/** === Includes === */

@import "variables-style/variables-style";
@import "../../style-editor-base";

.accent-header,
.article-section-title {
	color: #666;
	font-family: $font__heading;
	text-transform: uppercase;

	&:before {
		background-color: $color__primary;
		content: "";
		display: inline-block;
		height: 0.75em;
		margin: 0 0.5em 0 0;
		width: 0.75em;
	}
}

.entry-meta .byline a {
	color: $color__text-light;
}

