// Site header

.site-header {
	margin: 0 0 $size__spacing-unit;

	@include media(tablet) {
		margin-bottom: #{ $size__spacing-unit * 1 };
	}
}

// Site branding

.site-branding {
	align-items: center;
	color: $color__text-light;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

// Site logo

.custom-logo-link {
	box-sizing: content-box;
	line-height: 1;
	margin: 0 $size__spacing-unit 0 0;
	overflow: hidden;

	.custom-logo {
		height: auto;
		min-height: inherit;
		max-height: 100px;
		width: auto;

		@include media( tablet ) {
			max-height: 150px;
		}
	}
}

// Site title

.site-title {
	color: $color__text-main;
	font-weight: 700;
	margin: 0 $size__spacing-unit -3px 0;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}
}

// Site description

.site-description {
	color: $color__text-light;
	flex: 1 1 auto;
	font-weight: normal;
	font-size: $font__size-sm;
	font-style: italic;
	margin: 7px 0 0;
}

// Top bar

.top-header-contain {
	background-color: #4a4a4a;
	color: #fff;
	padding: calc( #{$size__spacing-unit} * 0.5 ) 0;
}

// Middle bar

.middle-header-contain {
	align-items: center;
	padding: $size__spacing-unit 0;
}

// Bottom bar

.bottom-header-contain {
	.wrapper {
		border-bottom: 1px solid #4a4a4a;
		border-top: 1px solid #4a4a4a;
	}
}

