// Site header
.site-header {
	margin: 0 0 $size__spacing-unit;

	@include media(tablet) {
		margin-bottom: #{ $size__spacing-unit * 1 };
	}
}

// Site branding
.site-branding {
	color: $color__text-light;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

// Site logo
.custom-logo-link {
	box-sizing: content-box;
	line-height: 1;
	margin: 0 $size__spacing-unit 0 0;
	overflow: hidden;

	.custom-logo {
		height: auto;
		min-height: inherit;
		max-height: 100px;
		width: auto;

		@include media( tablet ) {
			max-height: 150px;
		}
	}
}

// Site title
.site-title {
	color: $color__text-main;
	font-weight: 700;
	margin: 0 $size__spacing-unit -3px 0;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}
}

// Site description
.site-description {
	color: $color__text-light;
	font-weight: normal;
	font-size: $font__size-sm;
	font-style: italic;
	margin: 7px 0 0;
}

// Top bar
.top-header-contain {
	background-color: #4a4a4a;
	color: #fff;

	.wrapper > * {
		padding-bottom: #{ 0.3 * $size__spacing-unit };
		padding-top: #{ 0.3 * $size__spacing-unit };
	}
}

// Middle bar
.middle-header-contain {
	align-items: center;

	.wrapper {
		padding: #{ 2 * $size__spacing-unit } 0;
	}
}

// Bottom bar
.bottom-header-contain {
	.wrapper {
		border-bottom: 1px solid #4a4a4a;
		border-top: 1px solid #4a4a4a;
	}
}

/**
 * Header options.
 */

// Default

body:not(.header-center-logo) {
	.site-branding {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@include media(tablet) {
			flex-basis: 60%;
		}
	}

	.site-description {
		flex: 1 1 auto;
	}
}

// Centred Logo

.header-center-logo {
	.site-branding {
		display: block;
		flex-grow: 2;
		text-align: center;
	}

	.social-navigation,
	nav.tertiary-menu {
		justify-content: center;
		width: 100%;

		@include media( tablet ) {
			justify-content: space-between;
			width: auto;
		}
	}
}

// Header Overlap

.header-overlap {
	.site-header {
		padding-bottom: #{ 2 * $size__spacing-unit };

		@include media(tablet) {
			padding-bottom: #{ 4 * $size__spacing-unit };
		}

		@include media( desktop ) {
			padding-bottom: #{ 9 * $size__spacing-unit };
		}
	}

	.bottom-header-contain .wrapper {
		border: 0;
	}

	&.header-solid-background .bottom-header-contain {
		background-color: $color__primary;
	}

	&:not(.header-solid-background) .site-header {
		background-color: #efefef;
	}

	.site-content {
		margin-top: #{ -2 * $size__spacing-unit };

		@include media(tablet) {
			margin-top: #{ -4 * $size__spacing-unit };
		}

		@include media(desktop) {
			margin-top: #{ -9 * $size__spacing-unit };
		}

		#primary {
			background: #fff;
			border-top: 2px solid $color__primary-variation;
			padding: $size__spacing-unit;

			@include media(tablet) {
				border-top-width: 4px;
				padding: #{ 0.5 * $size__spacing-unit } #{ 2.5 * $size__spacing-unit } 0;
			}

			@include media(desktop) {
				padding: #{ 2.5 * $size__spacing-unit } #{ 4 * $size__spacing-unit } 0;
			}
		}
	}

	&.newspack-front-page.hide-homepage-title {
		.entry .entry-content > * {
			margin-top: 0;
		}
	}
}

// Solid Background

.header-solid-background {
	.site-header {
		background-color: $color__primary;
	}
	.site-header,
	.site-title a,
	.site-title a:visited,
	.site-description,
	.middle-header-contain {
		color: #fff;
	}

	.top-header-contain {
		background-color: transparent;
	}

	.bottom-header-contain {
		background-color: #4a4a4a;
		.wrapper {
			border: 0;
			padding: #{ 0.15 * $size__spacing-unit } 0;
		}

		.main-navigation .main-menu > li,
		.main-navigation .main-menu > li > a {
			color: #fff;
		}
	}

	&.header-center-logo .middle-header-contain .wrapper {
		padding: #{ 3 * $size__spacing-unit } 0;
	}

	&:not(.header-overlap) .site-header {
		padding-bottom: 0;
	}
}
