// Site header
.site-header {

}

// Site branding
.site-branding {
	align-items: center;
	color: $color__text-light;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	@include media(tablet) {
		flex-basis: 60%;
	}
}

// Site logo
.custom-logo-link {
	box-sizing: content-box;
	line-height: 1;
	margin: 0 $size__spacing-unit 0 0;
	overflow: hidden;

	.custom-logo {
		height: auto;
		min-height: inherit;
		max-height: 75px;
		max-width: 200px;
		width: auto;

		@include media( tablet ) {
			max-height: 150px;
		}
	}
}

// Site title
.site-title {
	color: $color__text-main;
	font-weight: 700;
	margin: 0 $size__spacing-unit -3px 0;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}
}

// Site description
.site-description {
	color: $color__text-light;
	display: none;
	//flex: 1 1 auto;
	font-weight: normal;
	font-size: $font__size-sm;
	font-style: italic;
	margin: 7px 0 0;

	@include media( mobile ) {
		display: block;
	}
}

.hide-site-tagline .site-description {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

// Top bar
.top-header-contain {
	background-color: #4a4a4a;
	color: #fff;

	.wrapper > * {
		padding-bottom: #{ 0.3 * $size__spacing-unit };
		padding-top: #{ 0.3 * $size__spacing-unit };
	}
}

// Middle bar
.middle-header-contain {

	.wrapper {
		align-items: center;
		padding: $size__spacing-unit 0;
		@include media( mobile ) {
			padding: #{ 2 * $size__spacing-unit } 0;
		}
	}
}

// Bottom bar
.bottom-header-contain {
	.wrapper {
		@include media( tablet ) {
			border-bottom: 1px solid #4a4a4a;
			border-top: 1px solid #4a4a4a;
		}
	}
}

// Search toggle
#search-toggle {
	background-color: transparent;
	color: inherit;
	padding: #{ 0.25 * $size__spacing-unit } 0 0;

	.search-icon {
		display: none;
	}
}

.header-search-contain {
	display: none;
	position: relative;

	@include media( tablet ) {
		display: block;
	}

	#header-search {
		position: absolute;
		top: calc( 100% + 4px );
		width: 300px;

		@include media (tablet) {
			right: 0;
		}
	}
}

.hide-header-search {
	#search-toggle {
		.search-icon {
			display: block;
		}

		.close-icon {
			display: none;
		}
	}
	#header-search {
		display: none;
	}
}

/**
 * Header options.
 */

// Centred Logo

.header-center-logo {
	@include media( tablet ) {
		.site-branding {
			display: block;
			flex-grow: 2;
			text-align: center;
		}
	}
}

// Solid Background

.header-solid-background {
	.site-header {
		background-color: $color__primary;
		padding-bottom: 0;
	}
	.site-header,
	.site-title a,
	.site-title a:visited,
	.site-description,
	.middle-header-contain,
	.main-navigation .main-menu > li,
	.main-navigation .main-menu > li > a {
		color: #fff;
	}

	.top-header-contain {
		background-color: transparent;
	}

	.bottom-header-contain {
		background-color: #4a4a4a;
		.wrapper {
			border: 0;
			padding: #{ 0.15 * $size__spacing-unit } 0;
		}

		.main-navigation .main-menu > li,
		.main-navigation .main-menu > li > a,
		#search-toggle {
			color: #fff;
		}
	}

}

// Simplified Header

.header-simplified {
	.site-header .wrapper {
		justify-content: flex-start;
	}

	.site-branding {
		display: flex;
		flex-grow: 2;
		flex-basis: auto;
		margin-right: $size__spacing-unit;
	}

	.custom-logo-link .custom-logo {
		max-height: 50px;
	}

	.site-description {
		margin: 0;
	}

	&:not(.header-center-logo).hide-site-tagline .main-navigation {
		flex-grow: 2;
	}

	.middle-header-contain .wrapper {
		align-items: center;
		padding: #{ 0.5 * $size__spacing-unit } 0;
	}

	.header-search-contain {
		margin-left: #{ 0.75 * $size__spacing-unit };
	}

	// Wrapper used to align search with menus.
	.nav-wrapper {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

	&.header-center-logo {

		@include media( tablet ) {
			.wrapper > * {
				flex: 1 0 0;
				min-width: 33%;
			}

			.site-branding {
				flex-wrap: wrap;
			}

			.custom-logo-link,
			.site-title,
			.site-description {
				width: 100%;
			}
		}
	}
}
