// Site header

.site-header {
	padding: 1em;

	@include media(tablet) {
		margin: 0;
		padding: 1rem 0 3rem;
	}
}

// Site branding

.site-branding-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	max-width: 90%;
	padding: $size__spacing-unit 0;
	width: $size__site-main;

	@include media(tablet) {
		flex-wrap: nowrap;
		padding: #{$size__spacing-unit * 2} 0;
	}
}

.site-branding {
	color: $color__text-light;
	position: relative;
}

// Site logo

.site-logo {
	line-height: 1;
	margin: 0 $size__spacing-unit 0 0;
	max-width: 80%;

	@include media(mobile) {
		max-width: 60%;
	}

	@include media(tablet) {
		max-width: 40%;
	}

	.custom-logo-link {
		box-sizing: content-box;
		overflow: hidden;

		.custom-logo {
			height: auto;
			min-height: inherit;
			max-height: 150px;
			width: auto;
		}
	}
}

// Site title

.site-title {
	color: $color__text-main;
	font-weight: 700;
	margin: 0 $size__spacing-unit 0 0;
	position: relative;
	top: 2px;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}
}

// Site description

.site-description {
	color: $color__text-light;
	font-weight: normal;
	font-size: $font__size-sm;
	margin: 7px 0 0;
}

.default-header-layout,
.solid-header-layout {
	.site-branding {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@include media(tablet) {
			flex-basis: 60%;
		}
	}

	.site-description {
		flex: 1 1 auto;
	}
}

.centered-header-layout {
	.site-branding {
		flex-grow: 1;
		text-align: center;
	}
}

.solid-header-layout {
	.site-header {
		padding-bottom: 0;
	}
}
