/* Headers */

.accent-header,
.article-section-title {
	border-bottom: 4px solid #ccc;
	color: $color__primary;
	font-size: $font__size-sm;
	margin: 0 0 calc( #{$size__spacing-unit} / 2 );
	padding: 0 0 calc( #{$size__spacing-unit} / 2 );
	text-transform: uppercase;
}

/* Navigation */

body.header-default-background.header-default-height {
	.site-header {
		.tertiary-menu {
			a {
				background-color: lighten($color__text-light, 45%);
				color: $color__text-main;
				@include button-transition;
				border-radius: 5px;
				font-size: $font__size-sm;
				font-weight: 700;
				padding: #{$size__spacing-unit * 0.5} #{$size__spacing-unit * 0.75};

				&:hover {
					background-color: $color__text-main;
					color: #fff;
				}
			}
		}
	}
}

/* Posts and pages */

.cat-links {
	a {
		background-color: $color__primary;
		color: #fff;
		display: inline-block;
		margin: 0 #{ 0.25 * $size__spacing-unit } #{ 0.25 * $size__spacing-unit } 0;
		padding: 0.5em 0.75em;
		text-transform: uppercase;

		&:visited {
			color: #fff;
		}

		&:hover {
			background-color: $color__primary-variation;
			color: #fff;
		}
	}
}

.tags-links {
	a {
		background-color: #f1f1f1;
		margin: 0 #{ 0.25 * $size__spacing-unit } #{ 0.25 * $size__spacing-unit } 0;
		padding: #{ 0.25 * $size__spacing-unit } #{ 0.5 * $size__spacing-unit };
	}
}

.cat-links,
.tags-links {
	.sep {
		display: none;
	}
}

/* Archives */

.blog,
.search {
	.cat-links {
		margin-bottom: 0;
		a {
			padding: 0.25em 0.5em;
		}
	}
}

/* Footer */

#colophon .footer-branding .wrapper {
	border-top: 4px solid $color__border;
}
