/* Headers */

.accent-header,
.article-section-title {
	border-bottom: 4px solid #ccc;
	color: $color__primary;
	font-size: $font__size-sm;
	margin: 0 0 calc( #{$size__spacing-unit} / 2 );
	padding: 0 0 calc( #{$size__spacing-unit} / 2 );
	text-transform: uppercase;
}

/* Navigation */

body:not(.header-solid-background):not(.header-simplified) {
	nav.tertiary-menu {
		a {
			background-color: lighten($color__text-light, 45%);
			color: $color__text-main;
			@include button-transition;
			border-radius: 5px;
			font-size: $font__size-sm;
			font-weight: 700;
			padding: #{$size__spacing-unit * 0.5} #{$size__spacing-unit * 0.75};

			&:hover {
				background-color: $color__text-main;
				color: #fff;
			}
		}
	}
}
