$color__text-light: lighten( $color__text-main, 20% );
$color__background-hr: lighten( $color__text-main, 20% );
$color__border: $color__text-main;
$color__background-button: $color__text-main;
$color__secondary-variation: lighten( $color__text-main, 20% );
$color__background-button-hover: lighten( $color__text-main, 20% );
