.highlight-menu-contain .wrapper {
	font-family: $font__heading;
	font-size: $font__size-xs;
	height: 1.5em;
	overflow: hidden;
	word-wrap: break-word;

	ul {
		display: block;
		width: 100%;
	}
}

.highlight-menu {
	ul, li {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		height: 1.5em;
		margin-right: #{ 0.5 * $size__spacing-unit };
	}

	.menu-label {
		color: $color__background-body;
		font-weight: bold;
	}
}

.header-center-logo .site-header .highlight-menu-contain .wrapper {
	justify-content: center;
	text-align: center;
}

.single-featured-image-beside,
.single-featured-image-behind {
	.highlight-menu-contain {
		display: none;
	}
}
