/** === Tertiary menu === */

nav.tertiary-menu {
	align-items: center;
	display: flex;
	font-family: $font__heading;
	font-size: $font__size-sm;
	list-style: none;
	margin: 0.5em 0;
	padding: 0;

	@include media(tablet) {
		padding: 0;
		text-align: right;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		@include media(tablet) {
			&:nth-child(n+2) {
				margin: 0 0 0 #{$size__spacing-unit * 0.5};
			}
		}

		&:last-child {
			font-weight: 700;
		}
	}

	a {
		color: inherit;
		display: inline-block;
		margin: #{$size__spacing-unit * 0.25} 0;
		padding: #{$size__spacing-unit * 0.5} #{$size__spacing-unit * 0.5};
	}
}

body:not(.header-solid-background):not(.header-simplified) {
	nav.tertiary-menu {
		a {
			background-color: lighten($color__text-light, 45%);
			color: $color__text-main;
			@include button-transition;
			border-radius: 5px;
			font-size: $font__size-sm;
			font-weight: 700;
			padding: #{$size__spacing-unit * 0.5} #{$size__spacing-unit * 0.75};

			&:hover {
				background-color: $color__text-main;
				color: #fff;
			}
		}

		li:last-child a {
			background-color: $color__primary;
			color: #fff;

			&:hover {
				background-color: $color__primary-variation;
			}
		}
	}
}

.header-simplified {
	nav.tertiary-menu {
		font-size: $font__size_base;
		margin-left: $size__spacing-unit;
		li {
			a {
				font-size: $font__size-xs;
				padding: #{ 0.25 * $size__spacing-unit } #{ 0.5 * $size__spacing-unit };
			}

			&:last-child a {
				border: 1px solid currentColor;
			}
		}
	}
}

.header-center-logo {
	nav.tertiary-menu {
		margin-left: 0;
		@include media(tablet) {
			text-align: center;
		}
	}
}
