/* Social menu */

.social-navigation {
	text-align: left;

	ul.social-links-menu {
		display: flex;
		margin: 0;
		padding: 0;

		li {
			list-style: none;

			&:nth-child(n+2) {
				margin-left: 0.1em;
			}

			a {
				border-bottom: 1px solid transparent;
				display: block;
				color: $color__text-main;
				margin-bottom: -1px;
				padding: 0 0.25em;
				transition: opacity $link_transition ease-in-out;

				&:hover,
				&:active {
					color: $color__text-main;
					opacity: 0.6;
				}

				&:focus {
					color: $color__text-main;
					opacity: 1;
					border-bottom: 1px solid $color__text-main;
				}

				svg {
					display: block;
					width: 24px;
					height: 24px;

					// Prevent icons from jumping in Safari using hardware acceleration.
					transform: translateZ(0);

					&#ui-icon-link {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
