.site-info .wrapper > .footer-menu {
	margin: 0;
}

.footer-menu {
	width: 100%;
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	@include media( mobile ) {
		li {
			display: inline-block;
			margin-right: $size__spacing-unit;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
