.mobile-menu-toggle {
	background-color: transparent;
	color: $color__text-main;
	padding: 0;

	&:hover,
	&:focus {
		background-color: transparent;
	}

	.svg-icon {
		position: relative;
		top: 4px;
	}

	@include media(tablet) {
		display: none;
	}
}

.desktop-navigation {
	display: none;
}

@include media( tablet ) {
	.desktop-navigation {
		display: block;

		&.tertiary-menu {
			display: flex;
		}
	}
}

#mobile-sidebar {
	background-color: $color__primary;
	font-size: $font__size-sm;
	padding: $size__spacing-unit;

	& > * {
		margin-bottom: $size__spacing-unit;
	}

	.mobile-menu-toggle {
		color: #fff;
		font-size: 1em;
		margin: 0 0 $size__spacing-unit;
		padding: 0;
	}

	ul {
		font-weight: 700;
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			font-weight: 400;
			margin-left: $size__spacing-unit;
		}
	}

	a {
		color: #fff;
		display: inline-block;
		padding: #{ 0.25 * $size__spacing-unit } 0;
	}

	.submenu-expand {
		display: none;
	}
}
