nav.secondary-menu {

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		color: inherit;
	}
}

/* Desktop-specific styles */
.site-header {
	nav.secondary-menu {
		ul, li {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			margin-right: #{ $size__spacing-unit }
		}

		a {
			font-size: $font__size-xs;
		}
	}
}
