@import "variables-style/variables-style";
@import "../../style-editor-base";

/* Paragraph */
.wp-block-paragraph {

	&.has-drop-cap:not(:focus)::first-letter {
		font-family: $font__heading;
		font-weight: bold;
	}
}

/* Pullquote */
.wp-block[data-type="core/pullquote"] {

	.wp-block-pullquote {
		border-width: 0;
		padding-top: #{ 3 * $size__spacing-unit };
		position: relative;

		.block-library-pullquote__content {
			position: relative;
			z-index: 1;
		}
	}

	blockquote {
		border-color: inherit;
		margin: #{ 2 * $size__spacing-unit } 0;
		text-align: center;

		&:before,
		&:after {
			border-top: 2px solid;
			border-top-color: inherit;
			content: "";
			display: block;
			position: absolute;
			opacity: 0.8;
			top: #{ 2 * $size__spacing-unit };
		}

		&:before {
			left: 15%;
			right: calc( 50% + 2em);
		}

		&:after {
			left: calc( 50% + 2em);
			right: 15%;
		}
	}

	.wp-block-pullquote.is-style-solid-color {
		blockquote:before,
		blockquote:after {
			border-top-color: currentColor;
		}
	}

	.block-library-pullquote__content {
		&:before {
			color: $color__primary;
			content: "\201C";
			display: inline-block;
			font-family: $font__heading;
			font-size: calc( 1rem * 5 );
			font-weight: normal;
			left: calc( 50% - 0.25em );
			line-height: 0.75;
			position: absolute;
			text-align: center;
			top: #{ -3.5 * $size__spacing-unit };
			width: 0.5em;
			z-index: 1;

			@include media( tablet ) {
				font-size: calc( 1rem * 7 );
			}
		}
	}

	.wp-block-pullquote.is-style-solid-color .block-library-pullquote__content:before {
		color: inherit;
	}

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p {
		font-family: $font__heading;
		font-size: $font__size-lg;
		font-weight: bold;

		@include media( tablet ) {
			font-size: $font__size-xl;
		}
	}

	.wp-block-pullquote__citation {
		font-size: $font__size-sm;
		font-weight: normal;
	}

	&[data-align="left"] .wp-block-pullquote,
	&[data-align="right"] .wp-block-pullquote {
		border-width: 0;

		blockquote {
			padding-top: #{ 3.5 * $size__spacing-unit };
			text-align: left;

			&:before {
				left: 2em;
				right: 0;
			}

			&:after {
				display: none;
			}
		}

		.block-library-pullquote__content {
			&:before {
				font-size: calc( 1rem * 5 );
				left: 0;
				text-align: left;
				top: #{ -2.5 * $size__spacing-unit };
				width: 0.5em;
			}
		}

		&.is-style-solid-color blockquote {
			padding-top: #{ 0.25 * $size__spacing-unit };

			&:before {
				left: #{ 4 * $size__spacing-unit };
				right: #{ 2 * $size__spacing-unit };
			}
		}

		blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
		blockquote > .editor-rich-text p,
		p {
			font-size: $font__size-md;
		}
	}
}

/* Newspack Homepage Articles */
.accent-header,
.article-section-title {
	font-family: $font__body;
	font-size: $font__size-base;
	margin-bottom: $size__spacing-unit;

	&:after {
		background-color: currentColor;
		content: "";
		display: inline-block;
		height: 1px;
		margin: 0 0 0 0.25rem;
		position: absolute;
		width: 100%;
		top: 50%;
	}
}

.wp-block-newspack-blocks-homepage-articles {
	&.is-style-borders {
		article {
			border-color: currentColor;
		}
	}

	> .block-editor-rich-text {
		overflow-x: hidden;
	}
}

/* Font Family */
.entry-meta,
.cat-links,
.entry-footer,
.widget,
.wp-block-button .wp-block-button__link,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: inherit;
	font-style: normal;
}
