/* !Block styles */

.entry .entry-content > *,
.entry .entry-summary > * {
	margin: 32px 0;
	max-width: 100%;

	// When the image block is aligned left or right, the markup changes,
	// making a slighly different selector necessary.
	&.wp-block-image .alignleft,
	&.alignleft {
		/*rtl:ignore*/
		float: left;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		/*rtl:ignore*/
		margin-right: $size__spacing-unit;
		max-width: 50%;
	}

	&.wp-block-image .alignright,
	&.alignright {
		/*rtl:ignore*/
		float: right;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: $size__spacing-unit;
		max-width: 50%;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;

		@include media(tablet) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// Wide and full widths need adjustment for the wider templates
.newspack-front-page,
.post-template-single-wide,
.page-template-single-wide {
	.entry .entry-content {
		.alignwide {
			@include media(tablet) {
				margin-left: calc(25% - 25vw);
				margin-right: calc(25% - 25vw);
				max-width: 100vw;

				&.wp-block-cover {
					width: auto;
				}
			}
		}
		.alignfull {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			max-width: 100vw;

			&.wp-block-cover {
				width: 100vw;
			}
		}

		.wp-block-cover,
		.wp-block-group {
			&.alignfull,
			&.alignwide {
				> *:not(.alignfull):not(.alignwide) {
					margin-left: auto;
					margin-right: auto;
					max-width: 1200px;
				}
			}
		}
	}
}

/*
 * Unset nested content selector styles
 * - Prevents layout styles from cascading too deeply
 * - helps with plugin compatibility
 */
.entry .entry-content,
.entry .entry-summary {

	.entry-content,
	.entry-summary,
	.entry {
		margin: inherit;
		max-width: inherit;
		padding: inherit;

		@include media(tablet) {
			margin: inherit;
			max-width: inherit;
			padding: inherit;
		}
	}
}

.entry .entry-content {

	//! Paragraphs
	p.has-background {
		padding: 20px 30px;
	}

	//! Audio
	.wp-block-audio {

		width: 100%;

		audio {
			width: 100%;
		}

		&.alignleft audio,
		&.alignright audio {

			max-width: (0.33 * $mobile_width);

			@include media(tablet) {
				max-width: (0.5 * $tablet_width);
			}

			@include media(wide) {
				max-width: (0.33 * $desktop_width);
			}
		}

		figcaption {
			text-align: left;
		}
	}

	//! Video
	.wp-block-video {

		video {
			width: 100%;
		}

		figcaption {
			text-align: left;
		}
	}

	//! Button
	.wp-block-button {

		.wp-block-button__link {
			@include button-transition;
			border: none;
			font-family: $font__heading;
			font-size: $font__size-sm;
			line-height: $font__line-height-heading;
			box-sizing: border-box;
			font-weight: bold;
			text-decoration: none;
			padding: ($size__spacing-unit * .76) $size__spacing-unit;
			outline: none;
			outline: none;

			&:not(.has-background) {
				background-color: $color__background-button;
			}

			&:not(.has-text-color) {
				color: white;
			}

			&:not(.has-background):hover,
			&:hover {
				color: white;
				background: $color__background-button-hover;
				cursor: pointer;
			}

			&:not(.has-background):focus,
			&:focus {
				color: white;
				background: $color__background-button-hover;
				outline: thin dotted;
				outline-offset: -4px;
			}
		}

		&:not(.is-style-outline) .wp-block-button__link:not(.has-background):hover {
			color: white;
		}

		&:not(.is-style-squared) .wp-block-button__link {
			border-radius: 5px;
		}

		&.is-style-outline .wp-block-button__link,
		&.is-style-outline .wp-block-button__link:focus,
		&.is-style-outline .wp-block-button__link:active {
			@include button-all-transition;
			border-width: 2px;
			border-style: solid;

			&:not(.has-background) {
				background: transparent;
			}

			&:not(.has-text-color) {
				color: $color__background-button;
				border-color: currentColor;
			}
		}

		&.is-style-outline .wp-block-button__link:hover {
			color: white;
			border-color: $color__background-button-hover;
			&:not(.has-background) {
				color: $color__background-button-hover;
			}
		}
	}

	//! Latest posts, categories, archives
	.wp-block-archives,
	.wp-block-categories,
	.wp-block-latest-posts {
		padding: 0;
		list-style: none;

		li {
			color: $color__text-light;
			font-family: $font__heading;
			font-weight: bold;
			line-height: $font__line-height-heading;
			padding-bottom: ( .75 * $size__spacing-unit );

			&.menu-item-has-children,
			&:last-child {
				padding-bottom: 0;
			}

			a {
				text-decoration: none;
			}
		}
	}

	.wp-block-archives,
	.wp-block-categories {

		&.aligncenter {
			text-align: center;
		}
	}

	//! Latest categories
	.wp-block-categories {

		ul {
			padding-top: ( .75 * $size__spacing-unit );
		}

		li ul {
			list-style: none;
			padding-left: 0;
		}

		@include nestedSubMenuPadding();
	}

	//! Latest posts grid view
	.wp-block-latest-posts.is-grid {
		li {
			border-top: 2px solid $color__border;
			padding-top: (1 * $size__spacing-unit);
			margin-bottom: (2 * $size__spacing-unit);
			a {
				&:after {
					content: '';
				}
			}
			&:last-child {
				margin-bottom: auto;
				a:after {
					content: '';
				}
			}
		}
	}

	//! Latest preformatted text
	.wp-block-preformatted {
		font-size: $font__size-xs;
		line-height: 1.8;
		padding: $size__spacing-unit;
	}

	//! Verse
	.wp-block-verse {
		font-family: $font__body;
		font-size: $font__size_base;
		line-height: 1.8;
	}

	//! Paragraphs
	.has-drop-cap {
		&:not(:focus)::first-letter {
			font-size: 4em;
			line-height: 0.75;
			margin: 0.125em #{ 0.75 * $size__spacing-unit } 0 0;
			position: relative;
		}
	}

	//! Pullquote
	.wp-block-pullquote {
		border-color: transparent;
		border-width: 4px 0 2px;
		color: inherit;
		padding: $size__spacing-unit 0;
		text-align: left;

		blockquote {
			border: none;
			margin: $size__spacing-unit 0 calc(1.25 * #{ $size__spacing-unit});
			padding-left: 0;
		}

		p {
			font-size: $font__size-md;
			font-style: italic;
			line-height: 1.3;
			margin-bottom: 0.5em;
			margin-top: 0.5em;


			em {
				font-style: normal;
			}

			@include media(tablet) {
				font-size: $font__size-lg;
			}
		}

		cite {
			display: inline-block;
			font-family: $font__heading;
			line-height: 1.6;
			text-transform: none;
			font-size: $font__size-xs;

			&:before {
				content: "\2014";
				margin-right: #{ 0.25 * $size__spacing-unit };
			}
		}

		&.alignleft,
		&.alignright {
			padding: 0;
			width: 100%;

			@include media(mobile) {
				border-bottom-width: 0;
				width: 50%;
			}

			blockquote {
				margin: $size__spacing-unit 0;
				padding: 0;
				text-align: left;
				max-width: 100%;

				p {
					font-size: 1rem;

					@include media(tablet) {
						font-size: $font__size-md;
					}

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		&.is-style-solid-color {
			background-color: $color__primary;
			padding-left: 0;
			padding-right: 0;

			@include media(tablet) {
				padding-left: #{ 1.5 * $size__spacing-unit };
				padding-right: #{ 1.5 * $size__spacing-unit };
			}

			a {
				color: $color__background-body;
			}

			cite {
				color: inherit;
			}

			blockquote {
				max-width: 100%;
				padding-left: 0;
				margin-left: $size__spacing-unit;
				margin-right: $size__spacing-unit;

				&.has-text-color p,
				&.has-text-color a,
				&.has-primary-color,
				&.has-primary-variation-color,
				&.has-secondary-color,
				&.has-secondary-variation-color,
				&.has-white-color {
					color: inherit;
				}

				@include media(tablet) {
					margin-left: 0;
					margin-right: 0;
				}
			}

			&.alignright,
			&.alignleft {
				@include media(tablet) {
					padding: $size__spacing-unit calc(2 * #{$size__spacing-unit});
				}
			}

		}
	}

	//! Blockquote
	.wp-block-quote {

		&:not(.is-large),
		&:not(.is-style-large) {
			border-width: 2px;
			border-color: $color__link;
			padding-top: 0;
			padding-bottom: 0;
		}

		p {
			font-size: 1em;
			font-style: normal;
			line-height: 1.8;
		}

		cite {
			/*
			 * This requires a rem-based font size calculation instead of our normal em-based one,
			 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
			 */
			font-size: calc(1rem * #{$font__size-sm});
		}

		&.is-large,
		&.is-style-large {
			margin: $size__spacing-unit 0;
			padding: 0;
			border-left: none;

			p {
				font-size: $font__size-lg;
				line-height: 1.4;
				font-style: italic;
			}

			cite,
			footer {
				/*
				 * This requires a rem-based font size calculation instead of our normal em-based one,
				 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
				 */
				font-size: calc(1rem * #{$font__size-sm});
			}

			@include media(tablet) {
				margin: $size__spacing-unit 0;
				padding: $size__spacing-unit 0;

				p {
					font-size: $font__size-lg;
				}
			}
		}
	}

	//! Image
	.wp-block-image {

		img {
			display: block;
		}

		.aligncenter {
			margin: 0 auto;
		}

		figcaption {
			text-align: left;
		}
	}

	//! Cover Image
	.wp-block-cover-image,
	.wp-block-cover {
		position: relative;
		min-height: 430px;
		padding: $size__spacing-unit;

		h2 {
			max-width: 100%;
			padding-left: 0;
			text-align: left;
		}

		@include media(tablet) {
			padding: $size__spacing-unit 10%;
		}

		a,
		a:hover,
		a:visited,
		.entry-meta,
		.entry-meta a,
		.entry-meta a:visited,
		article .entry-meta a,
		article .entry-meta a:visited {
			color: #fff;
		}

		&.alignleft,
		&.alignright {
			min-height: 250px;
			max-width: 100%;

			@include media(mobile) {
				width: 50%;
			}

			@include media(tablet) {
				padding: $size__spacing-unit calc(2 * #{$size__spacing-unit});
			}

			blockquote,
			.wp-block-pullquote:not(.is-style-solid-color) blockquote {
				padding-left: 0;
			}

			.wp-block-cover__inner-container {
				width: 100%;

				[class*="wp-block-"]:first-child {
					margin-top: 0;
				}

				[class*="wp-block-"]:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.wp-block-columns {
		.wp-block-cover,
		.wp-block-cover-image {
			height: auto;
			min-height: 330px;
			padding-left: $size__spacing-unit;
			padding-right: $size__spacing-unit;
			.wp-block-cover__inner-container {
				width: 100%;
			}
		}
	}

	//! Galleries
	.wp-block-gallery {
		list-style-type: none;
		padding-left: 0;

		.blocks-gallery-image:last-child,
		.blocks-gallery-item:last-child {
			margin-bottom: 16px;
		}

		figcaption a {
			color: #fff;
		}
	}

	//! Separator
	.wp-block-separator,
	hr {
		background-color: transparent;
		border: 0;
		border-top: 1px solid $color__border;
		height: 1px;
		margin: (2 * $size__spacing-unit) auto;
		max-width: #{ 5 * $size__spacing-unit };

		&.is-style-wide {
			max-width: 100%;
		}

		&.is-style-dots {
			max-width: 100%;
			background-color: inherit;
			border: inherit;
			height: inherit;
			text-align: center;

			&:before {
				color: $color__text-light;
				font-size: $font__size-lg;
				letter-spacing: $font__size-sm;
				padding-left: $font__size-sm;
			}
		}

		/* Remove duplicate rule-line when a separator
		 * is followed by an H1, or H2 */
		& + h1,
		& + h2 {

			&:before {
				display: none;
			}
		}
	}

	//! Twitter Embed
	.wp-block-embed-twitter {
		word-break: break-word;
	}

	//! Table
	.wp-block-table {

		th,
		td {
			border-color: $color__text-light;
		}

		&.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}
	}

	//! File
	.wp-block-file {
		font-family: $font__heading;

		.wp-block-file__button {
			display: table;
			@include button-transition;
			border: none;
			border-radius: 5px;
			background: $color__background-button;
			font-family: $font__heading;
			font-size: $font__size-base;
			line-height: $font__line-height-heading;
			text-decoration: none;
			font-weight: bold;
			padding: ($size__spacing-unit * .75) $size__spacing-unit;
			color: #fff;
			margin-left: 0;
			margin-top: calc(0.75 * #{$size__spacing-unit});

			@include media(desktop) {
				font-size: $font__size-base;
				padding: ($size__spacing-unit * .875) ($size__spacing-unit * 1.5);
			}

			&:hover {
				background: $color__background-button-hover;
				cursor: pointer;
			}

			&:focus {
				background: $color__background-button-hover;
				outline: thin dotted;
				outline-offset: -4px;
			}
		}
	}

	//! Code
	.wp-block-code {
		border-radius: 0;

		code {
			font-size: $font__size-md;
			white-space: pre-wrap;
    	                word-break: break-word;
		}
	}

	//! Columns
	.wp-block-columns {

		.wp-block-column > * :last-child {
			margin-bottom: 0;
		}

		@include media(tablet) {
			.wp-block-column {
				margin-bottom: 0;
			}

			&[class*='has-'] > * {
				margin-right: $size__spacing-unit;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&.is-style-borders {
			.wp-block-column {

				@include media(tablet) {
					flex-basis: calc(50% - 32px);

					&:not(:first-child) {
						margin-left: 64px;
					}

					&:after {
						right: -32px;
					}
				}
			}
		}
	}

	//! Group
	.wp-block-group {
		.wp-block-group__inner-container > *:last-child {
			margin-bottom: 0;
		}
	}


	//! Latest Comments
	.wp-block-latest-comments {

		.wp-block-latest-comments__comment-meta {
			font-family: $font__heading;
			font-weight: bold;

			.wp-block-latest-comments__comment-date {
				font-weight: normal;
			}
		}

		.wp-block-latest-comments__comment,
		.wp-block-latest-comments__comment-date,
		.wp-block-latest-comments__comment-excerpt p {
			font-size: inherit;
		}

		&.has-avatars {

		}

		&.has-dates {

			.wp-block-latest-comments__comment-date {
				font-size: $font__size-xs;
			}
		}

		&.has-excerpts {

		}
	}

	//! Newspack Block
	.wp-block-newspack-blocks-homepage-articles {
		figcaption {
			max-width: 100%;
		}
	}

	// Jetpack Blocks
	.jp-relatedposts-i2 {
		border-top: 1px solid $color__border;
		border-bottom: 1px solid $color__border;
		font-family: $font__heading;
		a {
			font-size: $font__size-md;
			font-weight: bold;
			text-decoration: none;
		}

		.jp-related-posts-i2__post-date,
		.jp-related-posts-i2__post-context {
			font-size: $font__size-sm;
		}
	}

	//! Font Sizes
	.has-small-font-size {
		font-size: $font__size-sm;
	}

	.has-normal-font-size {
		font-size: $font__size_base;
	}

	.has-large-font-size {
		font-size: $font__size-xl;
	}

	.has-huge-font-size {
		font-size: $font__size-xxl;
	}

	.has-primary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-primary-background-color {
		background-color: $color__primary;
	}

	.has-primary-variation-background-color,
	.wp-block-pullquote.is-style-solid-color.has-primary-variation-background-color {
		background-color: $color__primary-variation;
	}

	.has-secondary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-secondary-background-color {
		background-color: $color__secondary;
	}

	.has-secondary-variation-background-color,
	.wp-block-pullquote.is-style-solid-color.has-secondary-variation-background-color {
		background-color: $color__secondary-variation;
	}

	.has-dark-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-dark-gray-background-color {
		background-color: #111;
	}

	.has-medium-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-medium-gray-background-color {
		background-color: #767676;
	}

	.has-light-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {
		background-color: #eee;
	}

	.has-white-background-color,
	.wp-block-pullquote.is-style-solid-color.has-white-background-color {
		background-color: #FFF;
	}

	//! Custom foreground colors
	.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color p {
		color: $color__primary;
	}

	.has-primary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-variation-color p {
		color: $color__primary-variation;
	}

	.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color p {
		color: $color__secondary;
	}

	.has-secondary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-variation-color p {
		color: $color__secondary-variation;
	}

	.has-dark-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color {
		color: #111;
	}

	.has-medium-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-medium-gray-color {
		color: #767676;
	}

	.has-light-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color {
		color: #eee;
	}

	.has-white-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-white-color {
		color: #FFF;
	}
}

//! 'Feature' alignments
.post-template-single-feature {
	.entry .entry-content > *,
	.entry .entry-summary > * {
		&.alignwide {
			@include media( tablet ) {
				margin-left: calc(25% - 25vw);
				margin-right: calc(25% - 25vw);
				max-width: 100vw;
			}
		}

		&.alignfull {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			max-width: 100vw;
			position: relative;
			width: 100vw;
		}

		&.alignleft,
		&.wp-block-image .alignleft {
			@include media(mobile) {
				/*rtl:ignore*/
				margin-right: calc(2 * #{$size__spacing-unit});
			}

			@include media( tablet ) {
				/*rtl:ignore*/
				margin-left: #{ -4 * $size__spacing-unit }
			}

			@include media( desktop ) {
				/*rtl:ignore*/
				margin-left: #{ -6 * $size__spacing-unit }
			}
		}

		&.alignright,
		&.wp-block-image .alignright {
			@include media(mobile) {
				/*rtl:ignore*/
				margin-left: calc(2 * #{$size__spacing-unit});
			}

			@include media( tablet ) {
				/*rtl:ignore*/
				margin-right: #{ -4 * $size__spacing-unit }
			}

			@include media( desktop ) {
				/*rtl:ignore*/
				margin-right: #{ -6 * $size__spacing-unit }
			}
		}
	}

	//! Image Block
	.wp-block-image {
		&.alignfull img {
			width: 100vw;
			max-width: 100vw;
		}

		&.alignwide {
			max-width: 100vw;
		}
	}

	//! Cover Block
	.wp-block-cover,
	.wp-block-cover-image {
		&.alignfull {

			.wp-block-cover-image-text,
			.wp-block-cover-text,
			h2 {
				@include postContentMaxWidth();
			}

			@include media(tablet) {

				.wp-block-cover-image-text,
				.wp-block-cover-text,
				h2 {
					padding: 0;
				}
			}
		}

		&.alignwide {
			width: auto;
		}
	}

	//! Group & Cover Block
	.entry .entry-content > .wp-block-cover,
	.entry .entry-content > .wp-block-group {
		&.alignfull,
		&.alignwide {
			> div > .alignwide {
				margin-left: auto;
				margin-right: auto;
				max-width: 1200px;
			}
			> div >  *:not(.alignfull):not(.alignwide) {
				margin-left: auto;
				margin-right: auto;
				max-width: 780px;
			}
		}
	}

	//! Columns Block
	.wp-block-columns {
		@include media( tablet ) {
			&.alignfull,
			&.alignfull .wp-block-column {
				padding-left: calc(2 * #{$size__spacing-unit});
				padding-right: calc(2 * #{$size__spacing-unit});
			}
		}
	}

	//! Add padding to some fullalign blocks to prevent text cut-offs.
	.wp-block-pullquote,
	.wp-block-columns,
	.wp-block-table {
		&.alignfull {
			padding-left: $size__spacing-unit;
			padding-right: $size__spacing-unit;
		}
	}
}
