/* !Block styles */

.entry .entry-content > * {
	margin: 32px 0;
	max-width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	// When the image block is aligned left or right, the markup changes,
	// making a slighly different selector necessary.
	&.wp-block-image .alignleft,
	&.alignleft {
		/*rtl:ignore*/
		float: left;
		margin-left: 0;
		/*rtl:ignore*/
		margin-right: $size__spacing-unit;
		max-width: 50%;
	}

	&.wp-block-image .alignright,
	&.alignright {
		/*rtl:ignore*/
		float: right;
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: $size__spacing-unit;
		max-width: 50%;
	}

	.alignleft:not( :first-child ),
	.alignright:not( :first-child ) {
		margin-top: 0;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;

		@include media( tablet ) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// Wide and full widths need adjustment for the wider templates
.newspack-front-page,
.post-template-single-wide,
.page-template-single-wide {
	.entry .entry-content {
		.alignwide {
			@include media( tablet ) {
				margin-left: calc( 25% - 25vw );
				margin-right: calc( 25% - 25vw );
				max-width: 100vw;

				&.wp-block-cover {
					width: auto;
				}

				&.wp-block-columns {
					margin-left: calc( 25% - 25vw - 16px );
					margin-right: calc( 25% - 25vw - 16px );
					max-width: calc( 100vw + 32px );
					width: auto;

					&.is-style-borders {
						margin-left: calc( 25% - 25vw - 24px );
						margin-right: calc( 25% - 25vw - 24px );
						max-width: calc( 100vw + 48px );
					}
				}
			}

			@include media( desktop ) {
				&.wp-block-columns {
					&.is-style-borders {
						margin-left: calc( 25% - 25vw - 32px );
						margin-right: calc( 25% - 25vw - 32px );
						max-width: calc( 100vw + 64px );
					}
				}
			}
		}
		.alignfull {
			margin-left: calc( 50% - 50vw );
			margin-right: calc( 50% - 50vw );
			max-width: 100vw;

			&.wp-block-cover {
				width: 100vw;
			}

			&.wp-block-columns {
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;

				@include media( mobile ) {
					margin-left: calc( 50% - 50vw - 16px );
					margin-right: calc( 50% - 50vw - 16px );
					max-width: calc( 100vw + 32px );
					width: calc( 100vw + 32px );
				}

				@include media( tablet ) {
					&.is-style-borders {
						margin-left: calc( 50% - 50vw - 24px );
						margin-right: calc( 50% - 50vw - 24px );
						max-width: calc( 100vw + 48px );
						width: calc( 100vw + 48px );
					}
				}

				@include media( desktop ) {
					&.is-style-borders {
						margin-left: calc( 50% - 50vw - 32px );
						margin-right: calc( 50% - 50vw - 32px );
						max-width: calc( 100vw + 64px );
						width: calc( 100vw + 64px );
					}
				}
			}
		}

		.wp-block-cover,
		.wp-block-group {
			&.alignfull,
			&.alignwide {
				> div > *:not( .alignfull ):not( .alignwide ) {
					margin-left: auto;
					margin-right: auto;
					max-width: 1200px;
				}
			}
		}
	}
}

//! Paragraphs
.has-drop-cap:not( :focus )::first-letter {
	font-size: 4em;
	line-height: 0.75;
	margin: 0.125em #{0.75 * $size__spacing-unit} 0 0;
	position: relative;
}

//! Newspack Article Block
.wpnbha {
	figcaption {
		max-width: 100%;
	}
}

//! Newspack Carousel Block
.wp-block-newspack-blocks-carousel {
	h3 a,
	h3 a:visited,
	.entry-meta .byline a,
	.entry-meta .byline a:visited,
	.cat-links a,
	.cat-links a:visited {
		color: inherit;
	}
}

//! Columns
.wp-block-columns {
	.wp-block-cover,
	.wp-block-cover-image {
		min-height: 330px;
		padding-left: $size__spacing-unit;
		padding-right: $size__spacing-unit;
	}

	.wp-block-column > * {
		margin-bottom: 32px;
		margin-top: 32px;

		&:first-child,
		&:first-child .article-section-title, // when Load More is enabled.
		&.accent-header + div.wpnbha {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Temporarily make some column styles more specific
.entry .entry-content > .wp-block-columns {
	@include media( mobile ) {
		margin-left: -16px;
		max-width: calc( 100% + 32px );
	}

	@include media( tablet ) {
		&.is-style-borders {
			margin-left: -24px;
			max-width: calc( 100% + 48px );
		}
	}

	@include media( desktop ) {
		&.is-style-borders {
			margin-left: -32px;
			max-width: calc( 100% + 64px );
		}
	}
}

//! Cover Image
.wp-block-cover-image,
.wp-block-cover {
	position: relative;
	min-height: 430px;
	padding: $size__spacing-unit #{1.5 * $size__spacing-unit};

	.wp-block-cover__inner-container {
		width: 100%;
	}

	article .entry-meta,
	article .entry-meta a,
	article .entry-meta a:visited,
	article .cat-links a,
	article .cat-links a:visited {
		color: #fff;
	}

	&.alignleft,
	&.alignright {
		min-height: 250px;
		max-width: 100%;

		@include media( mobile ) {
			width: 50%;
		}

		@include media( tablet ) {
			padding: $size__spacing-unit calc( 2 * #{$size__spacing-unit} );
		}

		blockquote,
		.wp-block-pullquote:not( .is-style-solid-color ) blockquote {
			padding-left: 0;
		}

		.wp-block-cover__inner-container {
			[class*='wp-block-']:first-child {
				margin-top: 0;
			}

			[class*='wp-block-']:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.entry-content .wp-block-cover {
	a,
	a:hover,
	a:visited {
		color: inherit;
	}
}

//! Pullquote
.wp-block-pullquote {
	border-color: transparent;
	border-width: 4px 0 2px;
	color: inherit;
	padding: $size__spacing-unit 0;
	text-align: left;

	blockquote {
		border: none;
		margin: $size__spacing-unit 0 calc( 1.25 * #{$size__spacing-unit} );
		padding-left: 0;
	}

	p {
		font-size: $font__size-md;
		font-style: italic;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;

		em {
			font-style: normal;
		}

		@include media( tablet ) {
			font-size: $font__size-lg;
		}
	}

	cite {
		display: inline-block;
		font-family: $font__heading;
		line-height: 1.6;
		text-transform: none;
		font-size: $font__size-xs;

		&::before {
			content: '\2014';
			margin-right: #{0.25 * $size__spacing-unit};
		}
	}

	&.alignleft,
	&.alignright {
		padding: 0;
		width: 100%;

		@include media( mobile ) {
			border-bottom-width: 0;
			width: 50%;
		}

		blockquote {
			margin: $size__spacing-unit 0;
			padding: 0;
			text-align: left;
			max-width: 100%;

			p {
				font-size: 1rem;

				@include media( tablet ) {
					font-size: $font__size-md;
				}

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	&.is-style-solid-color {
		background-color: $color__primary;
		padding-left: 0;
		padding-right: 0;

		@include media( tablet ) {
			padding-left: #{1.5 * $size__spacing-unit};
			padding-right: #{1.5 * $size__spacing-unit};
		}

		a {
			color: $color__background-body;
		}

		cite {
			color: inherit;
		}

		blockquote {
			max-width: 100%;
			padding-left: 0;
			margin-left: $size__spacing-unit;
			margin-right: $size__spacing-unit;

			&.has-text-color p,
			&.has-text-color a,
			&.has-primary-color,
			&.has-primary-variation-color,
			&.has-secondary-color,
			&.has-secondary-variation-color,
			&.has-white-color {
				color: inherit;
			}

			@include media( tablet ) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&.alignright,
		&.alignleft {
			@include media( tablet ) {
				padding: $size__spacing-unit calc( 2 * #{$size__spacing-unit} );
			}
		}
	}
}

//! Latest Comments
.wp-block-latest-comments {
	padding-left: 0;

	.wp-block-latest-comments__comment {
		font-size: $font__size-sm;
		line-height: $font__line-height-body;
	}

	.wp-block-latest-comments__comment-meta {
		font-family: $font__heading;
		font-weight: bold;

		a,
		a:visited {
			color: $color__text-main;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		.wp-block-latest-comments__comment-date {
			color: $color__text-light;
			font-size: 0.9em;
			font-weight: normal;
			margin: #{0.15 * $size__spacing-unit} 0 0;
		}
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: 1.05em;
		margin-top: 0;
	}
}

.entry .entry-content {
	/*
	 * Unset nested content selector styles
	 * - Prevents layout styles from cascading too deeply
	 * - helps with plugin compatibility
	 */
	.entry-content,
	.entry {
		margin: inherit;
		max-width: inherit;
		padding: inherit;

		@include media( tablet ) {
			margin: inherit;
			max-width: inherit;
			padding: inherit;
		}
	}

	//! Paragraphs
	p.has-background {
		padding: 20px 30px;
	}

	//! Audio
	.wp-block-audio {
		width: 100%;

		audio {
			width: 100%;
		}

		&.alignleft audio,
		&.alignright audio {
			max-width: ( 0.33 * $mobile_width );

			@include media( tablet ) {
				max-width: ( 0.5 * $tablet_width );
			}

			@include media( wide ) {
				max-width: ( 0.33 * $desktop_width );
			}
		}

		figcaption {
			text-align: left;
		}
	}

	//! Video
	.wp-block-video {
		video {
			width: 100%;
		}

		figcaption {
			text-align: left;
		}
	}

	//! Button
	.wp-block-button__link {
		background-color: $color__background-button;
		@include button-transition;
		border: none;
		border-radius: 5px;
		color: #fff;
		font-family: $font__heading;
		font-size: $font__size-sm;
		line-height: $font__line-height-heading;
		box-sizing: border-box;
		font-weight: bold;
		text-decoration: none;
		padding: ( $size__spacing-unit * 0.76 ) $size__spacing-unit;
		outline: none;
	}

	.is-style-outline .wp-block-button__link, // legacy selector
	.wp-block-button__link.is-style-outline {
		@include button-all-transition;
		border-width: 2px;
		border-style: solid;
		color: $color__background-button;
		border-color: currentColor;

		&:not( .has-background ) {
			background: transparent;
		}
	}

	.wp-block-button {
		.wp-block-button__link, // legacy selector
		&.wp-block-button__link {
			&:hover,
			&:active,
			&:focus {
				color: white;
				background: $color__background-button-hover;
			}

			&:focus {
				outline: thin dotted;
				outline-offset: -4px;
			}

			&.is-style-outline:hover,
			&.is-style-outline:active,
			&.is-style-outline:focus {
				border-color: $color__background-button-hover;
			}
		}
	}

	//! Latest posts, categories, archives
	.wp-block-archives,
	.wp-block-categories,
	.wp-block-latest-posts {
		padding: 0;
		list-style: none;

		li {
			padding-bottom: ( 0.75 * $size__spacing-unit );

			&.menu-item-has-children,
			&:last-child {
				padding-bottom: 0;
			}

			a {
				text-decoration: none;
			}
		}
	}

	.wp-block-archives,
	.wp-block-categories {
		li {
			font-family: $font__heading;
			font-weight: bold;
			line-height: $font__line-height-heading;
		}

		&.aligncenter {
			text-align: center;
		}
	}

	//! Latest categories
	.wp-block-categories {
		ul {
			padding-top: ( 0.75 * $size__spacing-unit );
		}

		li ul {
			list-style: none;
			padding-left: 0;
		}

		@include nestedSubMenuPadding();
	}

	.wp-block-latest-posts {
		li > a {
			font-family: $font__heading;
			font-weight: bold;
			line-height: $font__line-height-heading;
		}
		time {
			color: $color__text-light;
			font-family: $font__heading;
		}
		.wp-block-latest-posts__post-excerpt {
			font-size: 0.8em;
		}

		&.is-grid {
			li {
				border-top: 2px solid $color__border;
				padding-top: ( 1 * $size__spacing-unit );
				margin-bottom: ( 2 * $size__spacing-unit );
				a {
					&::after {
						content: '';
					}
				}
				&:last-child {
					margin-bottom: auto;
					a::after {
						content: '';
					}
				}
			}
		}
	}

	//! Latest preformatted text
	.wp-block-preformatted {
		font-size: $font__size-xs;
		line-height: 1.8;
		padding: $size__spacing-unit;
	}

	//! Verse
	.wp-block-verse {
		font-family: $font__body;
		font-size: $font__size_base;
		line-height: 1.8;
	}

	//! Blockquote
	.wp-block-quote {
		&:not( .is-large ),
		&:not( .is-style-large ) {
			border-width: 2px;
			border-color: $color__link;
			padding-top: 0;
			padding-bottom: 0;
		}

		p {
			font-size: 1em;
			font-style: normal;
			line-height: 1.8;
		}

		cite {
			/*
			 * This requires a rem-based font size calculation instead of our normal em-based one,
			 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
			 */
			font-size: calc( 1rem * #{$font__size-sm} );
		}

		&.is-large,
		&.is-style-large {
			margin: $size__spacing-unit 0;
			padding: 0;
			border-left: none;

			p {
				font-size: $font__size-lg;
				line-height: 1.4;
				font-style: italic;
			}

			cite,
			footer {
				/*
				 * This requires a rem-based font size calculation instead of our normal em-based one,
				 * because the cite tag sometimes gets wrapped in a p tag. This is equivalent to $font-size_xs.
				 */
				font-size: calc( 1rem * #{$font__size-sm} );
			}

			@include media( tablet ) {
				margin: $size__spacing-unit 0;
				padding: $size__spacing-unit 0;

				p {
					font-size: $font__size-lg;
				}
			}
		}
	}

	//! Image
	.wp-block-image {
		img {
			display: block;
		}

		.aligncenter {
			margin: 0 auto;
		}

		figcaption {
			text-align: left;
		}

		.alignleft > figcaption,
		.alignright > figcaption {
			display: block;
		}
	}

	//! Galleries
	.wp-block-gallery {
		list-style-type: none;
		padding-left: 0;

		.blocks-gallery-image:last-child,
		.blocks-gallery-item:last-child {
			margin-bottom: 16px;
		}

		figcaption a {
			color: #fff;
		}
	}

	//! Separator
	.wp-block-separator,
	hr {
		background-color: transparent;
		border: 0;
		border-top: 1px solid $color__border;
		height: 1px;
		margin: ( 2 * $size__spacing-unit ) auto;
		max-width: #{5 * $size__spacing-unit};

		&.is-style-wide {
			max-width: 100%;
		}

		&.is-style-dots {
			max-width: 100%;
			background-color: inherit;
			border: inherit;
			height: inherit;
			text-align: center;

			&::before {
				color: $color__text-light;
				font-size: $font__size-lg;
				letter-spacing: $font__size-sm;
				padding-left: $font__size-sm;
			}
		}
	}

	//! Twitter Embed
	.wp-block-embed-twitter {
		word-break: break-word;
	}

	//! Table
	.wp-block-table {
		th,
		td {
			border-color: $color__text-light;
		}

		&.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}
	}

	//! File
	.wp-block-file {
		font-family: $font__heading;

		.wp-block-file__button {
			display: table;
			@include button-transition;
			border: none;
			border-radius: 5px;
			background: $color__background-button;
			font-family: $font__heading;
			font-size: $font__size-base;
			line-height: $font__line-height-heading;
			text-decoration: none;
			font-weight: bold;
			padding: ( $size__spacing-unit * 0.75 ) $size__spacing-unit;
			color: #fff;
			margin-left: 0;
			margin-top: calc( 0.75 * #{$size__spacing-unit} );

			@include media( desktop ) {
				font-size: $font__size-base;
				padding: ( $size__spacing-unit * 0.875 ) ( $size__spacing-unit * 1.5 );
			}

			&:hover {
				background: $color__background-button-hover;
				cursor: pointer;
			}

			&:focus {
				background: $color__background-button-hover;
				outline: thin dotted;
				outline-offset: -4px;
			}
		}
	}

	//! Code
	.wp-block-code {
		border-radius: 0;

		code {
			font-size: $font__size-md;
			white-space: pre-wrap;
			word-break: break-word;
		}
	}

	//! Group
	.wp-block-group {
		.wp-block-group__inner-container > * {
			margin-bottom: 32px;
			margin-top: 32px;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	//! Font Sizes
	.has-small-font-size {
		font-size: $font__size-sm;
	}

	.has-normal-font-size {
		font-size: $font__size_base;
	}

	.has-large-font-size {
		font-size: $font__size-xl;
	}

	.has-huge-font-size {
		font-size: $font__size-xxl;
	}

	.has-primary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-primary-background-color {
		background-color: $color__primary;
	}

	.has-primary-variation-background-color,
	.wp-block-pullquote.is-style-solid-color.has-primary-variation-background-color {
		background-color: $color__primary-variation;
	}

	.has-secondary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-secondary-background-color {
		background-color: $color__secondary;
	}

	.has-secondary-variation-background-color,
	.wp-block-pullquote.is-style-solid-color.has-secondary-variation-background-color {
		background-color: $color__secondary-variation;
	}

	.has-dark-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-dark-gray-background-color {
		background-color: #111;
	}

	.has-medium-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-medium-gray-background-color {
		background-color: #767676;
	}

	.has-light-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {
		background-color: #eee;
	}

	.has-white-background-color,
	.wp-block-pullquote.is-style-solid-color.has-white-background-color {
		background-color: #fff;
	}

	//! Custom foreground colors
	.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color p,
	.wp-block-button.has-primary-color,
	.is-style-outline .wp-block-button__link.has-primary-color:not( :hover ), //legacy selector
	.wp-block-button__link.is-style-outline.has-primary-color:not( :hover ) {
		color: $color__primary;
	}

	.has-primary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-variation-color p,
	.wp-block-button.has-primary-variation-color,
	.is-style-outline .wp-block-button__link.has-primary-variation-color:not( :hover ), //legacy selector
	.wp-block-button__link.is-style-outline.has-primary-variation-color:not( :hover ) {
		color: $color__primary-variation;
	}

	.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color p,
	.wp-block-button.has-secondary-color,
	.is-style-outline .wp-block-button__link.has-secondary-color:not( :hover ), //legacy selector
	.wp-block-button__link.is-style-outline.has-secondary-color:not( :hover ) {
		color: $color__secondary;
	}

	.has-secondary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-variation-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-variation-color p,
	.wp-block-button.has-secondary-variation-color,
	.is-style-outline .wp-block-button__link.has-secondary-variation-color:not( :hover ), //legacy selector
	.wp-block-button__link.is-style-outline.has-secondary-variation-color:not( :hover ) {
		color: $color__secondary-variation;
	}

	.has-dark-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color,
	.wp-block-button.has-dark-gray-color,
	.is-style-outline .wp-block-button__link.has-dark-gray-color:not( :hover ), // legacy selector
	.wp-block-button__link.is-style-outline.has-dark-gray-color:not( :hover ) {
		color: #111;
	}

	.has-medium-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-medium-gray-color,
	.wp-block-button.has-medium-gray-color,
	.is-style-outline .wp-block-button__link.has-medium-gray-color:not( :hover ), // legacy selector
	.wp-block-button__link.is-style-outline.has-medium-gray-color:not( :hover ) {
		color: #767676;
	}

	.has-light-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color,
	.wp-block-button.has-light-gray-color,
	.is-style-outline .wp-block-button__link.has-light-gray-color:not( :hover ), // legacy selector
	.wp-block-button__link.is-style-outline.has-light-gray-color:not( :hover ) {
		color: #eee;
	}

	.has-white-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-white-color,
	.wp-block-button.has-white-color,
	.is-style-outline .wp-block-button__link.has-white-color:not( :hover ), // legacy selector
	.wp-block-button__link.is-style-outline.has-white-color:not( :hover ) {
		color: #fff;
	}
}

.newspack-front-page.hide-homepage-title .entry-content > .wp-block-group.alignfull:first-child {
	margin-top: 0;
	@include media( tablet ) {
		margin-top: calc(
			#{-0.5 * $size__spacing-unit} - 1px
		); // minus 1px to offset bottom border on header
	}
}

.entry-content .has-text-color a,
.entry-content .has-text-color a:hover,
.entry-content .has-text-color a:visited {
	color: inherit;
}

//! 'Feature' alignments
.post-template-single-feature,
.page-template-single-feature {
	.entry .entry-content > * {
		&.alignwide {
			@include media( tablet ) {
				margin-left: calc( 25% - 25vw );
				margin-right: calc( 25% - 25vw );
				max-width: 100vw;
			}
		}

		&.alignfull {
			margin-left: calc( 50% - 50vw );
			margin-right: calc( 50% - 50vw );
			max-width: 100vw;
			position: relative;
			width: 100vw;
		}

		&.alignleft,
		&.wp-block-image .alignleft {
			@include media( mobile ) {
				/*rtl:ignore*/
				margin-right: calc( 2 * #{$size__spacing-unit} );
			}

			@include media( tablet ) {
				/*rtl:ignore*/
				margin-left: #{-4 * $size__spacing-unit};
			}

			@include media( desktop ) {
				/*rtl:ignore*/
				margin-left: #{-6 * $size__spacing-unit};
			}
		}

		&.alignright,
		&.wp-block-image .alignright {
			@include media( mobile ) {
				/*rtl:ignore*/
				margin-left: calc( 2 * #{$size__spacing-unit} );
			}

			@include media( tablet ) {
				/*rtl:ignore*/
				margin-right: #{-4 * $size__spacing-unit};
			}

			@include media( desktop ) {
				/*rtl:ignore*/
				margin-right: #{-6 * $size__spacing-unit};
			}
		}
	}

	//! Image Block
	.wp-block-image {
		&.alignfull img {
			width: 100vw;
			max-width: 100vw;
		}

		&.alignwide {
			max-width: 100vw;
		}
	}

	//! Cover Block
	.wp-block-cover,
	.wp-block-cover-image {
		&.alignfull {
			.wp-block-cover-image-text,
			.wp-block-cover-text,
			h2 {
				width: 100%;
			}

			@include media( tablet ) {
				.wp-block-cover-image-text,
				.wp-block-cover-text {
					padding: 0;
				}
			}
		}

		&.alignwide {
			width: auto;
		}
	}

	//! Group & Cover Block
	.entry .entry-content > .wp-block-cover,
	.entry .entry-content > .wp-block-group {
		&.alignfull,
		&.alignwide {
			> div > .alignwide {
				margin-left: auto;
				margin-right: auto;
				max-width: 1200px;
			}
			> div > *:not( .alignfull ):not( .alignwide ) {
				margin-left: auto;
				margin-right: auto;
				max-width: 780px;
			}
		}
	}

	//! Columns Block
	.wp-block-columns {
		@include media( tablet ) {
			&.alignfull,
			&.alignfull .wp-block-column {
				padding-left: calc( 2 * #{$size__spacing-unit} );
				padding-right: calc( 2 * #{$size__spacing-unit} );
			}
		}
	}
}

.newspack-front-page,
.post-template-single-wide,
.page-template-single-wide,
.post-template-single-feature,
.page-template-single-feature {
	//! Add padding to some fullalign blocks to prevent text cut-offs.
	.wp-block-pullquote,
	.wp-block-columns,
	.wp-block-table,
	.wpnbha {
		&.alignfull {
			padding-left: $size__spacing-unit;
			padding-right: $size__spacing-unit;
		}
	}

	// keep nested align-full elements from overflowing the container.
	.entry .entry-content {
		.wp-block-column,
		.wp-block-group,
		.wp-block-cover {
			.alignwide,
			.alignfull {
				margin-left: 0;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

//! Mailchimp block
.wp-block-jetpack-mailchimp {
	input[type='email'] {
		width: 100%;
	}

	p[id^='wp-block-jetpack-mailchimp'] {
		font-size: $font__size-sm;
	}
}

//! Organic Profile Block
.wp-block-organic-profile-block {
	box-shadow: none;

	.organic-profile-image {
		align-items: center;
		background: none !important;
		margin-bottom: 16px;

		@media only screen and ( min-width: 768px ) {
			margin-bottom: 0;
			margin-right: 32px;
		}

		&[class*='amp-wp-'] figure {
			display: flex;
			height: 100%;
		}

		img {
			display: block;
			height: auto;
			margin: 0;
			opacity: 1;
			width: 100%;
		}
	}

	.organic-profile-content {
		padding: 0;

		h5 {
			color: $color__text-light;
		}
	}

	.organic-profile-social {
		.social-link {
			border: 0;
			color: $color__text-light;
			display: inline-block;
			font-size: 16px;
			height: 32px;
			line-height: 32px;
			padding: 0;
			text-align: center;
			width: 32px;

			&:active,
			&:focus,
			&:hover {
				color: inherit;
			}
		}
	}
}

//! Social Links block
.entry-content .wp-social-link {
	a,
	a:active,
	a:hover,
	a:visited {
		color: currentColor;
	}
}

//! Temporary fix for a block button issue
// See: https://github.com/WordPress/gutenberg/issues/21747
.wp-block-button.is-style-outline:not( .wp-block-button__link ) {
	border: 0;
}
