.archive,
.blog,
.search {
	.page-header {
		margin: 0 0 #{$size__spacing-unit * 3};

		h1 {
			margin-top: 0;
		}
	}

	.page-description {
		display: block;
		clear: both;
	}

	.author-avatar {
		display: none;
	}

	.entry {
		margin-top: calc( 3 * #{$size__spacing-unit} );

		&:first-of-type {
			margin-top: 0;
		}
	}

	.post-thumbnail {
		margin: 0 0 #{0.5 * $size__spacing-unit};
	}

	.entry-content > p {
		margin: 0;
	}

	.entry-title,
	.entry-meta {
		margin-bottom: #{$size__spacing-unit * 0.5};
	}

	@include media( tablet ) {
		.has-post-thumbnail {
			align-items: flex-start;
			display: flex;

			.post-thumbnail {
				flex-basis: 25%;
				max-width: 25%;
				margin: 0 1em 0 0;
			}

			.entry-container {
				flex-basis: 75%;
			}
		}

		.byline,
		.posted-on {
			display: inline;
		}

		.byline {
			margin-right: $size__spacing-unit;
		}
	}
}

.archive {
	.page-title {
		color: $color__primary;
	}

	@include media( tablet ) {
		&:not( .paged ) article.has-post-thumbnail:first-of-type {
			display: block;

			.post-thumbnail {
				max-width: 100%;
			}

			.entry-header {
				margin: $size__spacing-unit 0 0;
			}
		}
	}

	&.author .page-header {
		display: flex;
		justify-content: flex-start;

		.avatar {
			flex-shrink: 0;
			height: 30px;
			margin-right: $size__spacing-unit;
			width: 30px;
		}

		@include media( mobile ) {
			.avatar {
				height: 80px;
				width: 80px;
			}
		}

		@include media( tablet ) {
			.avatar {
				height: 120px;
				width: 120px;
			}
		}
	}
}

.page-description {
	color: $color__text-main;
}

.tag .page-description::first-letter {
	text-transform: capitalize;
}

.taxonomy-description {
	color: $color__text-light;
	font-style: italic;

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.search {
	.page-header {
		@include media( tablet ) {
			width: 65%;
		}
	}
}
