.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	margin: calc( 2 * #{$size__spacing-unit} ) 0;

	@include media( tablet ) {
		margin: calc( 3 * #{$size__spacing-unit} ) 0;
	}

	> * {
		margin-top: calc( 2 * #{$size__spacing-unit} );
		margin-bottom: calc( 2 * #{$size__spacing-unit} );
	}

	/* Add extra margin when the comments section is located immediately after the
	 * post itself (this happens on pages).
	 */
	.entry + & {
		margin-top: calc( 3 * #{$size__spacing-unit} );
	}

	.comments-title-wrap {
		@include media( tablet ) {
			align-items: baseline;
			display: flex;
			justify-content: space-between;
		}

		.comments-title {
			margin: 0;

			@include media( tablet ) {
				flex: 1 0 calc( 3 * ( 100vw / 12 ) );
			}
		}

		.discussion-meta {
			@include media( tablet ) {
				margin-left: #{$size__spacing-unit};
				text-align: right;
			}
		}
	}

	// Hide Jetpack comments' title.
	.comments-title-wrap + .comment-respond .comment-reply-title {
		display: none;
	}
}

#comment {
	max-width: 100%;
	box-sizing: border-box;
}

#respond {
	position: relative;

	.comment-user-avatar {
		margin: $size__spacing-unit 0 -#{$size__spacing-unit};
	}

	.comment .comment-form {
		padding-left: 0;
	}

	> small {
		display: block;
		font-size: $font__size_base;
		position: absolute;
		left: calc( #{$size__spacing-unit} + 100% );
		top: calc( -3.5 * #{$size__spacing-unit} );
		width: calc( 100vw / 12 );
	}
}

#comments {
	> .comments-title:last-child {
		display: none;
	}
}

.comment-form-flex {
	display: flex;
	flex-direction: column;

	.comments-title {
		display: none;
		margin: 0;
		order: 1;
	}

	#respond {
		order: 2;

		+ .comments-title {
			display: block;
		}
	}
}

.comment-list {
	list-style: none;
	padding: 0;

	.children {
		margin: 0;
		padding: 0 0 0 $size__spacing-unit;
	}

	> .comment:first-child {
		margin-top: 0;
	}

	.pingback,
	.trackback {
		.comment-body {
			color: $color__text-light;
			font-family: $font__heading;
			font-size: $font__size-xs;
			font-weight: 500;
			margin-top: $size__spacing-unit;
			margin-bottom: $size__spacing-unit;

			a:not( .comment-edit-link ) {
				font-weight: bold;
				line-height: 1.5;
				padding-right: #{0.5 * $size__spacing-unit};
				display: block;
			}

			.comment-edit-link {
				color: $color__text-light;
				font-family: $font__heading;
				font-weight: 500;
			}
		}
	}
}

.comment-reply {
	#respond + & {
		display: none;
	}

	.comment-reply-link {
		display: inline-block;
	}
}

.comment {
	list-style: none;
	position: relative;

	@include media( tablet ) {
		padding-left: calc( 0.5 * ( #{$size__spacing-unit} + calc( 100vw / 12 ) ) );

		&.depth-1,
		.children {
			padding-left: 0;
		}
	}

	.comment-body {
		margin: calc( 2 * #{$size__spacing-unit} ) 0 0;
	}

	.comment-meta {
		position: relative;
	}

	.comment-author {
		.avatar {
			float: left;
			margin-right: $size__spacing-unit;
			position: relative;
		}

		.fn {
			position: relative;
			display: inline-block;

			a {
				color: inherit;

				&:hover {
					color: $color__primary-variation;
				}
			}
		}

		.post-author-badge {
			background: $color__primary;
			border-radius: 100%;
			color: #fff;
			display: inline-block;
			height: 16px;
			line-height: 16px;
			margin-left: #{0.25 * $size__spacing-unit};
			text-align: center;
			width: 16px;

			@include media( tablet ) {
				height: 18px;
				line-height: 18px;
				width: 18px;
			}

			svg {
				display: inline-block;
				fill: currentColor;
				height: inherit;
				transform: scale( 0.875 );
				width: inherit;
			}
		}
	}

	.comment-metadata {
		> a,
		.comment-edit-link {
			display: inline;
			font-weight: 500;
			color: $color__text-light;
			vertical-align: baseline;

			time {
				vertical-align: baseline;
			}

			&:hover {
				color: $color__primary-variation;
				text-decoration: none;
			}
		}

		> * {
			display: inline-block;
		}

		.edit-link-sep {
			color: $color__text-light;
			margin: 0 0.2em;
			vertical-align: baseline;
		}

		.edit-link {
			color: $color__text-light;

			svg {
				transform: scale( 0.8 );
				vertical-align: baseline;
				margin-right: 0.1em;
			}
		}

		.comment-edit-link {
			position: relative;
			padding-left: $size__spacing-unit;
			margin-left: -#{$size__spacing-unit};
			z-index: 1;

			&:hover {
				color: $color__primary;
			}
		}
	}

	.comment-content {
		margin: $size__spacing-unit 0;

		@include media( desktop ) {
			padding-right: $size__spacing-unit;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		blockquote {
			margin-left: 0;
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.comment-reply-link,
#cancel-comment-reply-link {
	font-weight: 500;

	&:hover {
		color: $color__primary-variation;
	}
}

.discussion-avatar-list {
	@include clearfix;

	margin: 0;
	padding: 0;

	li {
		position: relative;
		list-style: none;
		margin: 0 -8px 0 0;
		padding: 0;
		float: left;
	}

	.comment-user-avatar {
		img {
			height: calc( 1.5 * #{$size__spacing-unit} );
			width: calc( 1.5 * #{$size__spacing-unit} );
		}
	}
}

.discussion-meta {
	.discussion-meta-info {
		margin: 0;

		.svg-icon {
			vertical-align: middle;
			fill: currentColor;
			transform: scale( 0.6 ) scaleX( -1 ) translateY( -0.1em );
			margin-left: -#{0.25 * $size__spacing-unit}; // Align icon with avatars above.
		}
	}
}

.comment-form {
	.comment-notes,
	label {
		font-family: $font__heading;
		font-size: $font__size-xs;
		color: $color__text-light;
	}

	.comment-form-author,
	.comment-form-email {
		@include media( tablet ) {
			width: calc( 50% - #{$size__spacing-unit / 2} );
			float: left;
		}
	}

	.comment-form-email {
		@include media( tablet ) {
			margin-left: $size__spacing-unit;
		}
	}

	input[name='author'],
	input[name='email'],
	input[name='url'] {
		display: block;
		width: 100%;
	}
}

.comments-wrapper {
	margin: 0;
	min-height: 200px;

	&.comments-hide {
		height: 200px;
		overflow: hidden;
	}

	.comment-list,
	.comment-list > li:first-child article {
		margin-top: 0;
	}
}

.comments-toggle {
	align-items: center;
	background: transparent;
	border-radius: 0;
	border-top: 1px solid $color__border;
	color: $color__text-main;
	display: flex;
	font-size: $font__size-sm;
	justify-content: center;
	margin-top: 0;
	position: relative;
	width: 100%;

	svg {
		transform: rotate( 90deg );
	}

	&:hover,
	&:focus {
		background: transparent;
		color: $color__primary;
	}
}

.comments-hide + .comments-toggle {
	svg {
		transform: rotate( 270deg );
	}

	&::after {
		background-image: linear-gradient( rgba( 255, 255, 255, 0 ), rgba( 255, 255, 255, 1 ) );
		content: '';
		height: 150px;
		left: 0;
		position: absolute;
		right: 0;
		top: -151px;
		z-index: 2;
	}
}
