.archive,
.search {
	.search-term,
	.page-description {
		display: inherit;
		clear: both;
	}

	.author-avatar {
		display: none;
	}

	.entry {
		margin-top: calc(3 * #{$size__spacing-unit});

		&:first-of-type {
			margin-top: 0;
		}
	}

	.entry-header,
	.entry-content > p {
		margin: 0;
	}

	.entry-meta {
		margin: #{ $size__spacing-unit * 0.75 } 0;
	}
}

.archive {
	.page-header {
		margin: 0 0 #{ $size__spacing-unit * 3 };
	}

	.page-description {
		display: block;
	}

	@include media( tablet ) {
		.has-post-thumbnail {
			align-items: flex-start;
			display: flex;

			.post-thumbnail {
				margin: 0 1em 0 0;
				flex-basis: 25%
			}

			.entry-container {
				flex-basis: 75%;
			}
		}

		&:not(paged) article.has-post-thumbnail:first-of-type {
			display: block;

			.entry-header {
				margin: $size__spacing-unit 0 0;
			}
		}

		.byline,
		.posted-on {
			display: inline;
		}

		.byline {
			margin-right: 2em;
		}
	}
}

.taxonomy-description {
	color: $color__text-light;
	font-style: italic;
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}
