.archive,
.search {
	.search-term,
	.page-description {
		display: inherit;
		clear: both;
	}

	.author-avatar {
		display: none;
	}

	.entry {
		margin-top: calc(3 * #{$size__spacing-unit});

		&:first-of-type {
			margin-top: 0;
		}
	}

	.entry-header {
		margin: 0;
	}

	@include media( mobile ) {
		.has-post-thumbnail {
			display: flex;
		}

		.post-thumbnail {
			margin: 0 1em 0 0;
			width: 30%
		}

		.byline,
		.posted-on {
			display: inline;
		}

		.byline {
			margin-right: 2em;
		}
	}
}

.archive {
	.page-header {
		margin: 0 0 #{ $size__spacing-unit * 3 };
	}

	.page-description {
		display: block;
	}
}

.taxonomy-description {
	font-style: italic;
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}
