.archive,
.blog,
.search {
	.page-header {
		margin: 0 0 #{ $size__spacing-unit * 3 };
	}

	.page-description {
		display: block;
		clear: both;
	}

	.author-avatar {
		display: none;
	}

	.entry {
		margin-top: calc(3 * #{$size__spacing-unit});

		&:first-of-type {
			margin-top: 0;
		}
	}

	.post-thumbnail {
		margin: 0 0 #{ 0.5 * $size__spacing-unit };
	}

	.entry-header {
		padding: 0;
	}

	.entry-header,
	.entry-content > p {
		margin: 0;
	}

	.entry-meta {
		margin: #{ $size__spacing-unit * 0.5 } 0;
	}

	@include media( tablet ) {
		.has-post-thumbnail {
			align-items: flex-start;
			display: flex;

			.post-thumbnail {
				margin: 0 1em 0 0;
				flex-basis: 25%
			}

			.entry-container {
				flex-basis: 75%;
			}
		}

		.byline,
		.posted-on {
			display: inline;
		}

		.byline {
			margin-right: $size__spacing-unit;
		}
	}
}

.archive {
	.page-title {
		color: $color__primary;
	}

	@include media(tablet) {
		&:not(paged) article.has-post-thumbnail:first-of-type {
			display: block;

			.entry-header {
				margin: $size__spacing-unit 0 0;
			}
		}
	}
}

.blog,
.search {
	.cat-links {
		margin-bottom: 0;
		a {
			padding: 0.25em 0.5em;
		}
	}
}

.page-description {
	color: $color__text-main;
}

.taxonomy-description {
	color: $color__text-light;
	font-style: italic;
}

