.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 calc(1.5 * #{$size__spacing-unit});
}

.entry {

	margin-top: calc(6 * #{$size__spacing-unit});

	&:first-of-type {
		margin-top: 0;
	}
}

.entry-header {
	margin: calc(3 * #{ $size__spacing-unit}) 0 $size__spacing-unit;
	position: relative;
}

.entry-title {

	margin: 0;

	a {
		color: inherit;

		&:hover {
			color: $color__text-hover;
		}
	}
}

.entry-meta,
.entry-footer {

	color: $color__text-light;
	font-weight: 500;

	a {

		@include link-transition;
		color: inherit;

		&:visited {
			color: inherit;
		}

		&:hover {
			text-decoration: none;
			color: $color__primary-variation;
		}
	}

	.svg-icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.5em;
	}
}

.entry-meta {
	margin: $size__spacing-unit 0;

	.author-avatar {
		float: left;
		margin-right: #{ $size__spacing-unit * 0.5 };
	}

	.byline {
		display: block;
	}
}

.entry-footer {
	margin: calc(2 * #{$size__spacing-unit}) 0 $size__spacing-unit;
	@include media(desktop) {
		max-width: $size__site-desktop-content;
	}

	> span {

		margin-right: $size__spacing-unit;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}
}

.post-thumbnail {
	margin: $size__spacing-unit 0;

	&:focus {
		outline: none;
	}

	.post-thumbnail-inner {
		display: block;

		img {
			position: relative;
			display: block;
			width: 100%;
		}
	}
}

.entry-content {

	p {
		word-wrap: break-word;
	}

	.more-link {
		@include link-transition;
		display: inline;
		color: inherit;

		&:after {
			content: "\02192";
			display: inline-block;
			margin-left: 0.5em;
		}

		&:hover {
			color: $color__primary-variation;
			text-decoration: none;
		}
	}

	a {
		text-decoration: underline;

		&.button,
		&:hover {
			text-decoration: none;
		}

		&.button {
			display: inline-block;
		}

		&.button:hover {
			background: $color__background-button-hover;
			color: $color__background-body;
			cursor: pointer;
		}
	}

	// Overwrite iframe embeds that have inline styles.
	> iframe[style] {
		margin: 32px 0 !important;
		max-width: 100% !important;
	}

	// Page links
	.page-links a {
		margin: calc(0.5 * #{$size__spacing-unit});
		text-decoration: none;
	}

	// Classic editor audio embeds.
	.wp-audio-shortcode {
		max-width: calc(100vw - (2 * #{ $size__spacing-unit }));
	}
}

/* Single Post */

.single-post {
	.entry-header {
		width: 100%;
	}

	.entry-title {
		font-size: $font__size-xxxl;

		@include media(desktop) {
			font-size: $font__size-xxxxl;
		}
	}

	@include media(tablet) {
		.main-content {
			flex-basis: calc( 65% - 24px );
		}

		#secondary {
			flex-basis: calc( 35% - 24px );
		}
	}

	&.post-template-single-feature {
		.main-content {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.page.home .entry .entry-content {
	max-width: 100%;
}

/* Hide page title on the homepage */

.newspack-front-page.hide-homepage-title {
	.entry-header {
		display: none;
	}
}

/* Author description */

.author-bio {
	margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit $size__spacing-unit;

	@include media(tablet) {
		margin: calc(3 * #{$size__spacing-unit}) auto;
	}

	@include media(desktop) {
		margin: calc(3 * #{$size__spacing-unit}) auto;
	}

	.author-title {
		display: inline;
	}

	.author-description {

		display: inline;
		color: $color__text-light;
		font-size: $font__size-md;
		line-height: $font__line-height-heading;

		.author-link {
			display: inline-block;

			&:hover {
				color: $color__primary-variation;
				text-decoration: none;
			}
		}
	}
}
