.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 calc(1.5 * #{$size__spacing-unit});
}

.entry {

	margin-top: calc(6 * #{$size__spacing-unit});

	&:first-of-type {
		margin-top: 0;
	}
}

.entry-header {
	position: relative;
}

.entry-title {
	font-size: $font__size-xxl;
	margin: 0;

	@include media(desktop) {
		font-size: $font__size-xxxl;
	}

	a {
		color: inherit;

		&:hover {
			color: $color__text-hover;
		}
	}
}

body.page {
	.entry-title {
		font-size: $font__size-xl;
		margin: 0;

		@include media(desktop) {
			font-size: $font__size-xxl;
		}
	}
}

.cat-links {
	display: block;
	font-size: $font__size-xs;
	margin: 0 0 #{ 0.75 * $size__spacing-unit };
}

.tags-links {
	& > * {
		display: inline-block;
	}

	span:first-child {
		font-weight: bold;
		font-size: $font__size-sm;
		margin-right: $size__spacing-unit;
		text-transform: uppercase;
	}

	a {
		font-size: $font__size-xs;
	}
}

.entry-meta,
.entry-footer {
	color: $color__text-light;
}

.entry-meta {
	.author-avatar {
		float: left;
		margin-right: #{ $size__spacing-unit * 0.5 };
	}

	.byline {
		display: block;

		a {
			color: $color__primary;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.entry-footer {
	margin: $size__spacing-unit 0 #{ 3 * $size__spacing-unit };
	> span {
		margin-right: $size__spacing-unit;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: $color__primary;
	}

	.edit-link {
		font-size: $font__size-sm;

		svg {
			margin: 0 #{ 0.25 * $size__spacing-unit } 0 0;
		}
	}
}

.post-thumbnail {
	margin: 0;

	&:focus {
		outline: none;
	}

	.post-thumbnail-inner {
		display: block;

		img {
			position: relative;
			display: block;
		}
	}
}

.entry-content {

	p {
		word-wrap: break-word;
	}

	.more-link {
		@include link-transition;
		display: inline;
		color: inherit;

		&:after {
			content: "\02192";
			display: inline-block;
			margin-left: 0.5em;
		}

		&:hover {
			color: $color__primary-variation;
			text-decoration: none;
		}
	}

	a {
		text-decoration: underline;

		&.button,
		&:hover {
			text-decoration: none;
		}

		&.button {
			display: inline-block;
		}

		&.button:hover {
			background: $color__background-button-hover;
			color: $color__background-body;
			cursor: pointer;
		}
	}

	// Overwrite iframe embeds that have inline styles.
	> iframe[style] {
		margin: 32px 0 !important;
		max-width: 100% !important;
	}

	// Page links
	.page-links a {
		margin: calc(0.5 * #{$size__spacing-unit});
		text-decoration: none;
	}

	// Classic editor audio embeds.
	.wp-audio-shortcode {
		max-width: calc(100vw - (2 * #{ $size__spacing-unit }));
	}
}

/* Single Post */

.single-post {
	.entry-header {
		padding: 0 0 $size__spacing-unit;
		width: 100%;
	}

	&:not(.has-featured-image) .entry-header,
	&.has-large-featured-image .entry-header {
		border-bottom: 1px solid #ddd;
	}

	.entry-title {
		font-size: $font__size-xxxl;
		margin: 0 0 0.5em;

		@include media(desktop) {
			font-size: $font__size-xxxxl;
		}
	}

	&.post-template-single-feature {
		.main-content {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.main-content {
		.post-thumbnail:first-child {
			margin-top: #{ 2 * $size__spacing-unit };
		}
	}

	@include media(mobile) {
		.entry-subhead {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 100%;

			.entry-meta {
				flex-grow: 2;
			}
		}
	}

	div.sharedaddy h3.sd-title {
		display: none;
	}

	.sd-content {
		margin-bottom: -0.7em; // offsets Jetpack's default styles w/out using !important
		ul li {
			margin-bottom: 0;
		}
	}
}

.page.home .entry .entry-content {
	max-width: 100%;
}

/* Static Front Page. */

.newspack-front-page {
	&.hide-homepage-title .entry-header {
		display: none;
	}

	.site-content {
		margin-top: 0;
		@include media(tablet) {
			margin-top: #{ 0.5 * $size__spacing-unit };
		}
	}
}

/* Author description */

.author-bio {
	display: flex;
	margin: calc(2 * #{$size__spacing-unit}) auto $size__spacing-unit;

	.avatar {
		height: 60px;
		margin-right: $size__spacing-unit;
		width: 60px;

		@include media(mobile) {
			height: 80px;
			width: 80px;
		}
	}

	.author-bio-text {
		width: calc( 100% - 60px - 1em );
		@include media(mobile) {
			width: calc( 100% - 80px - 1em );
		}
	}

	h2 {
		font-size: 1em;
		span {
			color: $color__text-light;
			display: block;
			font-size: $font__size-sm;
			text-transform: none;

			@include media(mobile) {
				display: inline;
				margin: 0 0 0 0.5em;
			}
		}
	}

	.author-meta,
	.author-link {
		font-size: $font__size-sm;
	}

	.author-meta a {
		color: $color__text-light;
	}

	p {
		font-size: calc( 1em * 0.9 );
		margin: 0.5em 0;
	}

	.author-link {
		color: $color__primary;
		font-weight: bold;
		&:hover {
			color: $color__primary-variation;
		}
	}
}
