// The Event Calendar CSS override
// See: https://theeventscalendar.com/knowledgebase/k/basic-font-and-color-changes-with-css/

// Import theme variables
@import '../sass/variables-style/variables-style';

// Import TEC baseline styles
@import '../../newspack-theme/sass/plugins/the-events-calendar';

// Theme-specific styles
.tribe_community_edit .button.mb-cta {
	border-radius: 0;
}
